<div class="container">
    <div class="execs_section">
        
        <div class="exec">
            <div class="exec_portrait seraphina24">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>2nd Year, Poli Sci (BA)</div>
                    <div>Hometown</div>
                    <div>Saskatoon, SK</div>
                    <div>Instruments</div>
                    <div>Drums, bass, guitar, ukulele, cello, voice</div>
                    <div>Can usually be found</div>
                    <div>Below eye level</div>
                </div>
                <div class="exec_title">
                    <div class="exec_name">Seraphina Anand</div>
                    <div class="exec_pos">Co-President</div>
                </div>
            </div>
        </div>
        
        <div class="exec">
            <div class="exec_portrait eora23">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>4th year, Environmental Sci & Music (BSc & BA)</div>
                    <div>Hometown</div>
                    <div>Quadra Island</div>
                    <div>Instruments</div>
                    <div>Guitar, piano</div>
                    <div>Can usually be found</div>
                    <div>Composing in a corner</div>
                </div>
                <div class="exec_title">
                    <div class="exec_name">Eora Umemura</div>
                    <div class="exec_pos">Co-President</div>
                </div>
            </div>
        </div>
        
        <div class="exec">
            <div class="exec_portrait monica">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>2nd Year, Computer Science (BSc)</div>
                    <div>Hometown</div>
                    <div>Calgary</div>
                    <div>Instruments</div>
                    <div>Clarinet, Piano</div>
                    <div>Can usually be found</div>
                    <div>Daydreaming</div>
                </div>
                <div class="exec_title">
                    <div class="exec_name">Monica Zhang</div>
                    <div class="exec_pos">Vice President, Marketing</div>
                </div>
            </div>
        </div>
        
        <div class="exec">
            <div class="exec_portrait purum">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>1st Year, Computer Science (BA)</div>
                    <div>Hometown</div>
                    <div>Chilliwack, BC</div>
                    <div>Instruments</div>
                    <div>Piano, vocals</div>
                    <div>Can usually be found</div>
                    <div>Legitimately crying to Bill Evans</div>
                </div>
                <div class="exec_title">
                    <div class="exec_name">Purum Kim</div>
                    <div class="exec_pos">Vice President, Finance</div>
                </div>
            </div>
        </div>

        <div class="exec">
            <div class="exec_portrait winnie">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>3rd Year, Psych major & Phil minor (BA)</div>
                    <div>Hometown</div>
                    <div>Surrey, BC</div>
                    <div>Instruments</div>
                    <div>Vocals</div>
                    <div>Can usually be found</div>
                    <div>Yapping</div>
                </div>
                <div class="exec_title">
                    <div class="exec_name">Winnie Song</div>
                    <div class="exec_pos">Vice President, Music</div>
                </div>
            </div>
        </div>

        <div class="exec">
            <div class="exec_portrait austin">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>1st Year, Arts</div>
                    <div>Hometown</div>
                    <div>Burnaby, BC</div>
                    <div>Instruments</div>
                    <div>Bass, Trombone</div>
                    <div>Can usually be found</div>
                    <div>Asking what change we're on</div>
                </div>
                <div class="exec_title">
                    <div class="exec_name">Austin Edwards</div>
                    <div class="exec_pos">Vice President, Events</div>
                </div>
            </div>
        </div>

        <div class="exec">
            <div class="exec_portrait isabel23">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>4th year Food, Nutrition, & Health</div>
                    <div>Hometown</div>
                    <div>Chilliwack, BC</div>
                    <div>Instruments</div>
                    <div>Alto Sax, Guitar, Piano</div>
                    <div>Can usually be found</div>
                    <div>Waking up and then going to bed</div>
                </div>
                <div class="exec_title">
                    <div class="special">President Emeritus</div>
                    <div class="exec_name">Isabel Huang</div>
                    <div class="exec_pos">Executive</div>
                </div>
            </div>
        </div>
        
        <div class="exec">
            <div class="exec_portrait david24">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>3rd year Chem. & Bio. Engineering</div>
                    <div>Hometown</div>
                    <div>Langley, BC</div>
                    <div>Instruments</div>
                    <div>Drums, accordion</div>
                    <div>Can usually be found</div>
                    <div>Procrastinating</div>
                </div>
                <div class="exec_title">
                    <div class="special">President Emeritus</div>
                    <div class="exec_name">David Boss</div>
                    <div class="exec_pos">Executive</div>
                </div>
            </div>
        </div>
        
        <!-- <div class="exec">
            <div class="exec_portrait nicola24">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>4th year Nursing</div>
                    <div>Hometown</div>
                    <div>Langley, BC</div>
                    <div>Instruments</div>
                    <div>Voice</div>
                    <div>Can usually be found</div>
                    <div>Singing incessantly</div>
                </div>
                <div class="exec_title">
                    <div class="exec_name">Nicola Brown</div>
                    <div class="exec_pos">Co-President</div>
                </div>
            </div>
        </div> -->
        
        
        <!-- <div class="exec">
            <div class="exec_portrait alyssa23">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>5th year Biology</div>
                    <div>Hometown</div>
                    <div>Coquitlam, BC</div>
                    <div>Instruments</div>
                    <div>Bass</div>
                    <div>Can usually be found</div>
                    <div>Meowing</div>
                </div>
                <div class="exec_title">
                    <div class="exec_name">Alyssa Jung</div>
                    <div class="exec_pos">Vice President, Events</div>
                </div>
            </div>
        </div> -->
        
        <div class="exec">
            <div class="exec_portrait yujia24">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>3rd year Sociology</div>
                    <div>Hometown</div>
                    <div>Hefei, China</div>
                    <div>Instruments</div>
                    <div>Piano</div>
                    <div>Can usually be found</div>
                    <div>Napping in IKB</div>
                </div>
                <div class="exec_title">
                    <div class="exec_name">Yuja Huang</div>
                    <div class="exec_pos">Photographer, Events Executive</div>
                </div>
            </div>
        </div>
        
        <div class="exec">
            <div class="exec_portrait Kyler">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>4th Year, Music</div>
                    <div>Hometown</div>
                    <div>Surrey, BC</div>
                    <div>Instruments</div>
                    <div>Saxophone</div>
                    <div>Can usually be found</div>
                    <div>Wherever Eora is</div>
                </div>
                <div class="exec_title">
                    <div class="exec_name">Kyler Young</div>
                    <div class="exec_pos">Music Executive</div>
                </div>
            </div>
        </div>
        
        
        <!-- <div class="exec">
            <div class="exec_portrait lucia23">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>5th year Marketing & Operational Logistics</div>
                    <div>Hometown</div>
                    <div>Montreal & Calgary</div>
                    <div>Instruments</div>
                    <div>Voice</div>
                    <div>Can usually be found</div>
                    <div>Eating</div>
                </div>
                <div class="exec_title">
                    <div class="exec_name">Lucia Monchi</div>
                    <div class="exec_pos">Marketing Executive</div>
                </div>
            </div>
        </div>
        -->        
        
        <!--
        <div class="exec">
            <div class="exec_portrait kai23">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>First year Arts</div>
                    <div>Hometown</div>
                    <div>Langley, BC</div>
                    <div>Instruments</div>
                    <div>Trumpet, French Horn, Drums</div>
                    <div>Can usually be found</div>
                    <div>At a LEGO store</div>
                </div>
                <div class="exec_title">
                    <div class="exec_name">Kai Rodland</div>
                    <div class="exec_pos">Marketing Executive</div>
                </div>
            </div>
        </div>
        -->
        
        
    </div>
</div>
