<div class="container">
    <div class="execs_section">
        
        <div class="exec">
            <div class="exec_portrait seraphina25">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>3rd Year, Political Science, BA</div>
                    <div>Hometown</div>
                    <div>Saskatoon, SK</div>
                    <div>Instruments</div>
                    <div>Drums, Guitar</div>
                    <div>Can usually be found</div>
                    <div>Below eye level (I'm 5 feet tall)</div>
                </div>
                <div class="exec_title">
                    <div class="exec_name">Seraphina Anand</div>
                    <div class="exec_pos">Co-President</div>
                </div>
            </div>
        </div>
        
        <div class="exec">
            <div class="exec_portrait eora25">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>5th year, Environmental Science & Music, BSc & BA</div>
                    <div>Hometown</div>
                    <div>Quadra Island, BC</div>
                    <div>Instruments</div>
                    <div>Guitar, piano</div>
                    <div>Can usually be found</div>
                    <div>Composing in a corner</div>
                </div>
                <div class="exec_title">
                    <div class="exec_name">Eora Umemura</div>
                    <div class="exec_pos">Co-President</div>
                </div>
            </div>
        </div>
        
        <div class="exec">
            <div class="exec_portrait monica25">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>2nd Year, Computer Science, BSc</div>
                    <div>Hometown</div>
                    <div>Calgary, AB</div>
                    <div>Instruments</div>
                    <div>Clarinet, Piano</div>
                    <div>Can usually be found</div>
                    <div>Daydreaming</div>
                </div>
                <div class="exec_title">
                    <div class="exec_name">Monica Zhang</div>
                    <div class="exec_pos">Vice President, Marketing</div>
                </div>
            </div>
        </div>
        
        <div class="exec">
            <div class="exec_portrait purum25">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>2nd Year, Computer Science, BA</div>
                    <div>Hometown</div>
                    <div>Chilliwack, BC</div>
                    <div>Instruments</div>
                    <div>Piano, vocals</div>
                    <div>Can usually be found</div>
                    <div>Shilling Geometry Dash</div>
                </div>
                <div class="exec_title">
                    <div class="exec_name">Purum Kim</div>
                    <div class="exec_pos">Vice President, Finance</div>
                </div>
            </div>
        </div>

        <div class="exec">
            <div class="exec_portrait austin25">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>2nd Year, Political Science, BA</div>
                    <div>Hometown</div>
                    <div>Burnaby, BC</div>
                    <div>Instruments</div>
                    <div>Vocals, Bass</div>
                    <div>Can usually be found</div>
                    <div>Asking what change we're on</div>
                </div>
                <div class="exec_title">
                    <div class="exec_name">Austin Edwards</div>
                    <div class="exec_pos">Vice President, Events</div>
                </div>
            </div>
        </div>

        <div class="exec">
            <div class="exec_portrait charles25">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>2nd Year, Political Science, BA</div>
                    <div>Hometown</div>
                    <div>Chilliwack, BC</div>
                    <div>Instruments</div>
                    <div>Saxophone</div>
                    <div>Can usually be found</div>
                    <div>In a forest</div>
                </div>
                <div class="exec_title">
                    <div class="exec_name">Charles Macsabejon</div>
                    <div class="exec_pos">Vice President, Music</div>
                </div>
            </div>
        </div>

        <div class="exec">
            <div class="exec_portrait ava25">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>3rd Year, Finance, BComm</div>
                    <div>Hometown</div>
                    <div>West Vancouver, BC</div>
                    <div>Instruments</div>
                    <div>Piano, Guitar</div>
                    <div>Can usually be found</div>
                    <div>In the fridge</div>
                </div>
                <div class="exec_title">
                    <div class="exec_name">Ava Lee</div>
                    <div class="exec_pos">Marketing Executive</div>
                </div>
            </div>
        </div>

        <div class="exec">
            <div class="exec_portrait isabel25">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>5th year Food, Nutrition, & Health</div>
                    <div>Hometown</div>
                    <div>Chilliwack, BC</div>
                    <div>Instruments</div>
                    <div>Alto Sax</div>
                    <div>Can usually be found</div>
                    <div>Climbing rocks and eating cucumber slices</div>
                </div>
                <div class="exec_title">
                    <div class="special">President Emeritus</div>
                    <div class="exec_name">Isabel Huang</div>
                    <div class="exec_pos">Events Executive</div>
                </div>
            </div>
        </div>
        
        <div class="exec">
            <div class="exec_portrait david25">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>4th year Chem. & Bio. Engineering, BASc</div>
                    <div>Hometown</div>
                    <div>Langley, BC</div>
                    <div>Instruments</div>
                    <div>Drums, accordion</div>
                    <div>Can usually be found</div>
                    <div>Procrastinating</div>
                </div>
                <div class="exec_title">
                    <div class="special">President Emeritus</div>
                    <div class="exec_name">David Boss</div>
                    <div class="exec_pos">Events Executive</div>
                </div>
            </div>
        </div>
        
        <!-- <div class="exec">
            <div class="exec_portrait nicola24">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>4th year Nursing</div>
                    <div>Hometown</div>
                    <div>Langley, BC</div>
                    <div>Instruments</div>
                    <div>Voice</div>
                    <div>Can usually be found</div>
                    <div>Singing incessantly</div>
                </div>
                <div class="exec_title">
                    <div class="exec_name">Nicola Brown</div>
                    <div class="exec_pos">Co-President</div>
                </div>
            </div>
        </div> -->
        
        
        <!-- <div class="exec">
            <div class="exec_portrait alyssa23">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>5th year Biology</div>
                    <div>Hometown</div>
                    <div>Coquitlam, BC</div>
                    <div>Instruments</div>
                    <div>Bass</div>
                    <div>Can usually be found</div>
                    <div>Meowing</div>
                </div>
                <div class="exec_title">
                    <div class="exec_name">Alyssa Jung</div>
                    <div class="exec_pos">Vice President, Events</div>
                </div>
            </div>
        </div> -->
        
        <div class="exec">
            <div class="exec_portrait yujia24">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>4th year, Sociology, BA</div>
                    <div>Hometown</div>
                    <div>Hefei, China</div>
                    <div>Instruments</div>
                    <div>Piano</div>
                    <div>Can usually be found</div>
                    <div>Napping in IKB</div>
                </div>
                <div class="exec_title">
                    <div class="exec_name">Yuja Huang</div>
                    <div class="exec_pos">Photographer, Events Executive</div>
                </div>
            </div>
        </div>

        <div class="exec">
            <div class="exec_portrait davidblokmanis25">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>1st Year, Applied Biology, BSc</div>
                    <div>Hometown</div>
                    <div>Victoria, BC</div>
                    <div>Instruments</div>
                    <div>Piano, Guitar</div>
                    <div>Can usually be found</div>
                    <div>On the ski hills</div>
                </div>
                <div class="exec_title">
                    <div class="exec_name">David Blokmanis</div>
                    <div class="exec_pos">Events Executive</div>
                </div>
            </div>
        </div>

        <div class="exec">
            <div class="exec_portrait kerry25">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>3rd Year, Manufacturing Engineering, BASc</div>
                    <div>Hometown</div>
                    <div>Vancouver, BC</div>
                    <div>Instruments</div>
                    <div>Trumpet, Piano, Guitar, Drums (kinda!)</div>
                    <div>Can usually be found</div>
                    <div>In a tree</div>
                </div>
                <div class="exec_title">
                    <div class="exec_name">Kerry Hall</div>
                    <div class="exec_pos">Music Executive</div>
                </div>
            </div>
        </div>

        <div class="exec">
            <div class="exec_portrait geoff25">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>3rd Year, English, BA</div>
                    <div>Hometown</div>
                    <div>Surrey, BC</div>
                    <div>Instruments</div>
                    <div>Bass, Guitar, Piano, Drums</div>
                    <div>Can usually be found</div>
                    <div>at Chao Mami Express</div>
                </div>
                <div class="exec_title">
                    <div class="exec_name">Geoff Petines</div>
                    <div class="exec_pos">Music Executive</div>
                </div>
            </div>
        </div>

        <div class="exec">
            <div class="exec_portrait rowan25">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>1st Year, Engineering, BASc</div>
                    <div>Hometown</div>
                    <div>Kelowna, BC</div>
                    <div>Instruments</div>
                    <div>Bass, Piano, Guitar</div>
                    <div>Can usually be found</div>
                    <div>Doomscrolling</div>
                </div>
                <div class="exec_title">
                    <div class="exec_name">Rowan Chippendale</div>
                    <div class="exec_pos">Music Executive</div>
                </div>
            </div>
        </div>
        
        <div class="exec">
            <div class="exec_portrait kyler25">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>5th Year, General Studies, BMus</div>
                    <div>Hometown</div>
                    <div>South Surrey, BC</div>
                    <div>Instruments</div>
                    <div>Saxophone, Vocals, Keys</div>
                    <div>Can usually be found</div>
                    <div>Drinking coffee at 7pm for some reason</div>
                </div>
                <div class="exec_title">
                    <div class="exec_name">Kyler Young</div>
                    <div class="exec_pos">Music Executive</div>
                </div>
            </div>
        </div>
        
        
        <!-- <div class="exec">
            <div class="exec_portrait lucia23">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>5th year Marketing & Operational Logistics</div>
                    <div>Hometown</div>
                    <div>Montreal & Calgary</div>
                    <div>Instruments</div>
                    <div>Voice</div>
                    <div>Can usually be found</div>
                    <div>Eating</div>
                </div>
                <div class="exec_title">
                    <div class="exec_name">Lucia Monchi</div>
                    <div class="exec_pos">Marketing Executive</div>
                </div>
            </div>
        </div>
        -->        
        
        <!--
        <div class="exec">
            <div class="exec_portrait kai23">
                <div class="frame"></div>
            </div>
            <div class="exec_desc_box">
                <div class="exec_desc">
                    <div>Major/Year</div>
                    <div>First year Arts</div>
                    <div>Hometown</div>
                    <div>Langley, BC</div>
                    <div>Instruments</div>
                    <div>Trumpet, French Horn, Drums</div>
                    <div>Can usually be found</div>
                    <div>At a LEGO store</div>
                </div>
                <div class="exec_title">
                    <div class="exec_name">Kai Rodland</div>
                    <div class="exec_pos">Marketing Executive</div>
                </div>
            </div>
        </div>
        -->
        
        
    </div>
</div>
