.container {
  position: relative;
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--club-dark-grey);
  padding-bottom: 15vw;
  font-family: Built-Tilting;
  font-style: italic;
  font-size: 4vw;

  .desc {
    margin-top: 17vw;
    margin-bottom: 15vw;
  }

  .execs_section {
    margin-top: 2vw;

    .exec_row {
      position: relative;
      display: inline-block;
      margin-bottom: 10vw;
      width: 100%;

      .exec {
        position: relative;
        margin: 2vw;
        width: 45%;

        &.left {
          float: left;
        }

        &.right {
          float: right;
        }

        .exec_portrait {
          position: absolute;
          top: -7%;
          z-index: 5;
          width: 48%;
          height: 27vw;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-position: top;
          background-size: 100%;
          background-repeat: no-repeat;

          .frame {
            display: inline-block;
            width: 93%;
            height: 93%;
            border-radius: 50%;
            border: solid 5px var(--club-yellow);
          }
        }

        .amy {
          background-image: url(../../assets/images/exec_portraits/amy.jpg);
        }

        .em {
          background-image: url(../../assets/images/exec_portraits/emily.jpg);
          background-size: 105%;
        }

        .chris {
          background-image: url(../../assets/images/exec_portraits/chris.jpg);
        }

        .ashley {
          background-image: url(../../assets/images/exec_portraits/ashley.jpg);
        }

        .matt {
          background-image: url(../../assets/images/exec_portraits/matt.jpg);
        }

        .dylan {
          background-image: url(../../assets/images/exec_portraits/dolan.jpg);
        }

        .piyotr {
          background-image: url(../../assets/images/exec_portraits/piyotr.jpg);
        }

        .coal {
          background-image: url(../../assets/images/exec_portraits/coal.jpg);
        }

        .daniel {
          background-image: url(../../assets/images/exec_portraits/daniel.jpg);
          background-size: 130%;
        }

        .maxwell {
          background-image: url(../../assets/images/exec_portraits/maxwell.png);
          background-size: 130%;
        }

        .maxwell_meme {
          background-image: url(../../assets/images/exec_portraits/maxwell_meme.png);
        }

        .exec_desc_box {
          position: relative;
          z-index: 1;
          display: block;
          float: right;
          width: 70%;
          height: 30vw;
          padding: 2vw;

          border: solid 5px var(--club-yellow);

          .exec_desc {
            font-family: "Arial";
            font-style: italic;
            font-size: 1.3vw;
            text-align: right;
            width: 65%;

            float: right;
          }

          .exec_title {
            position: absolute;
            text-align: right;
            margin-right: 2vw;
            margin-bottom: 1vw;
            bottom: 0;
            right: 0;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .container {
    font-size: 12pt;
    padding-bottom: 10em;
  
    .desc {
      margin-top: 3em;
      margin-bottom: 2em;
      font-size: 4em;
    }
  
    .execs_section {
  
      .exec_row {
        margin-bottom: 3em;
  
        .exec {
          margin: 2em;
  
          .exec_portrait {
            height: 20em;
          }
  
          .exec_desc_box {
            height: 25em;
            padding: 1em;
  
            .exec_desc {
              font-size: 1.25em;
            }
  
            .exec_title {
              margin-right: 0.35em;
              margin-bottom: 0.35em;
              font-size: 3em;
            }
          }
        }
      }
    }
  }
}