.container {
  position: relative;
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--club-dark-grey);
  padding-bottom: 15vw;
  font-family: Built-Tilting;
  font-style: italic;
  font-size: 4vw;

  .desc {
    margin-top: 17vw;
    margin-bottom: 15vw;
  }

  .execs_section {
    margin-top: 2vw;
    position: relative;
    margin-bottom: 10vw;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    .exec {
      position: relative;
      margin: 2vw;

      .exec_portrait {
        position: absolute;
        top: -7%;
        z-index: 5;
        width: 21vw;
        height: 27vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-position: top;
        background-size: 100%;
        background-repeat: no-repeat;

        .frame {
          display: inline-block;
          width: 93%;
          height: 93%;
          border-radius: 50%;
          border: solid 5px var(--club-yellow);

          &.missing {
            font-size: 20vw;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: black;
          }
        }
      }

      .dylan {
        background-image: url(../../assets/images/exec_portraits/Dylan.jpg);
      }

      .dylan2 {
        background-image: url(../../assets/images/exec_portraits/Dylan2.jpg);
        background-size: 150%;
        background-position-y: 25%;
      }

      .dylan23 {
        background-image: url(../../assets/images/exec_portraits/Dylan23.jpg);
        background-size: 110%;
        background-position-y: 25%;
        background-position-x: 50%;
      }


      .steven21 {
        background-image: url(../../assets/images/exec_portraits/Steven.jpg);
        background-size: 120%;
        background-position-y: 7%;
        background-position-x: 10%;
      }

      .steven22 {
        background-image: url(../../assets/images/exec_portraits/Steven2.jpg);
        background-size: 150%;
        background-position-y: 30%;
      }

      .steven23 {
        background-image: url(../../assets/images/exec_portraits/Steven23.jpg);
        background-size: 130%;
        background-position-y: 55%;
        background-position-x: 40%;
      }

      .isabel22 {
        background-image: url(../../assets/images/exec_portraits/Isabel.jpg);
        background-size: 150%;
        background-position-y: 25%;
      }

      .isabel23 {
        background-image: url(../../assets/images/exec_portraits/Isabel23.jpg);
        background-size: 100%;
        background-position-y: 40%;
      }

      .lida22 {
        background-image: url(../../assets/images/exec_portraits/Lida.jpg);
        background-size: 90%;
        background-position-y: 25%;
      }

      .lida23 {
        background-image: url(../../assets/images/exec_portraits/Lida23.jpg);
        background-size: 110%;
        background-position-y: 25%;
        background-position-x: 30%;
      }

      .ben {
        background-image: url(../../assets/images/exec_portraits/Ben.jpg);
        background-size: 135%;
        background-position-y: 40%;
      }

      .ben23 {
        background-image: url(../../assets/images/exec_portraits/Ben23.jpg);
        background-size: 140%;
        background-position-y: 30%;
        background-position-x: 42%;
      }

      .ellie23 {
        background-image: url(../../assets/images/exec_portraits/Ellie23.jpg);
        background-size: 125%;
        background-position-y: 30%;
      }

      .david23 {
        background-image: url(../../assets/images/exec_portraits/David23.jpg);
        background-size: 110%;
        background-position-y: 25%;
      }


      .lucia23 {
        background-image: url(../../assets/images/exec_portraits/Lucia23.jpg);
        background-size: 135%;
        background-position-y: 17%;
      }

      .nicola23 {
        background-image: url(../../assets/images/exec_portraits/nicola23.JPG);
        background-size: 205%;
        background-position-y: 110%;
      }

      .alyssa23 {
        background-image: url(../../assets/images/exec_portraits/alyssa23.JPG);
        background-size: 150%;
        background-position-y: 67%;
        background-position-x: 40%;
      }

      .kai23 {
        background-image: url(../../assets/images/exec_portraits/kai23.JPG);
        background-size: 170%;
        background-position-y: 63%;
        background-position-x: 47%;
      }

      .seraphina23 {
        background-image: url(../../assets/images/exec_portraits/seraphina23.JPG);
        background-size: 170%;
        background-position-y: 60%;
        background-position-x: 40%;
      }

      .yujia23 {
        background-image: url(../../assets/images/exec_portraits/yujia23.JPG);
        background-size: 175%;
        background-position-y: 62%;
        background-position-x: 45%;
      }

      .eora23 {
        background-image: url(../../assets/images/exec_portraits/eora23.JPG);
        background-size: 155%;
        background-position-y: 67%;
        background-position-x: 60%;
      }

      .exec_desc_box {
        position: relative;
        z-index: 1;
        display: block;
        float: right;
        width: calc(100% - 15vw);
        height: 30vw;
        padding: 2vw;

        border: solid 5px var(--club-yellow);

        .exec_desc {
          font-family: "Arial";
          font-style: italic;
          font-size: 1.3vw;
          text-align: right;
          width: 65%;

          float: right;

          &:not(.missing) {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 0.3rem;
          }

          &.missing {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60%;
          }

          div:nth-child(2n + 1) {
            text-transform: uppercase;
            font-style: normal;
            font-weight: bold;
          }

          div:nth-child(2n) {
            padding-bottom: 0.3rem;
          }
        }

        .exec_title {
          text-align: right;
          margin-right: 2vw;
          margin-bottom: 1vw;
          position: absolute;
          bottom: 0;
          right: 0;

          .special {
            font-size: 0.4em;
            color: var(--club-yellow);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
  .container {
    .desc {
      margin-top: 17vw;
      margin-bottom: 15vw;
      font-size: 5vw;
    }

    .execs_section {
      margin-top: 2vw;
      grid-template-columns: 1fr;

      .exec {
        margin: 2vw;

        .exec_portrait {
          z-index: 5;
          width: calc(21vw * 1.5);
          height: calc(27vw * 1.5);

          .frame {
            width: 93%;
            height: 93%;
            border: solid 2px var(--club-yellow);
          }
        }

        .exec_desc_box {
          border: solid 2px var(--club-yellow);
          height: 40vw;

          .exec_desc {
            position: relative;
            left: 20vw;
            font-size: 2.5vw;
            text-align: left;
            float: left;

            &:not(.missing) {
              grid-template-columns: 1fr 1fr;
              column-gap: 1rem;
            }

            div:nth-child(2n + 1) {
              text-align: right;
            }

            div:nth-child(2n) {
              text-align: left;
            }
          }

          .exec_title {
            margin-right: 2vw;
            margin-bottom: 1vw;
          }
        }
      }
    }
  }
}