<div class="container">
  <div class="desc">meet the team!</div>
  <div class="execs_section">
    <div class="exec">
      <div class="exec_portrait isabel23">
        <div class="frame"></div>
      </div>
      <div class="exec_desc_box">
        <div class="exec_desc">
          <div>Major/Year</div>
          <div>3rd year Food, Nutrition, & Health</div>
          <div>Hometown</div>
          <div>Chilliwack, BC</div>
          <div>Instruments</div>
          <div>Alto Sax, Guitar, Piano</div>
          <div>Can usually be found</div>
          <div>Waking up and then going to bed</div>
        </div>
        <div class="exec_title">
          <div class="exec_name">Isabel Huang</div>
          <div class="exec_pos">Co-President</div>
        </div>
      </div>
    </div>
    <div class="exec">
      <div class="exec_portrait ben23">
        <div class="frame"></div>
      </div>
      <div class="exec_desc_box">
        <div class="exec_desc">
          <div>Major/Year</div>
          <div>4th year Biology</div>
          <div>Hometown</div>
          <div>Duncan, BC</div>
          <div>Instruments</div>
          <div>Piano, Melodica, Organ</div>
          <div>Can usually be found</div>
          <div>Hiding</div>
        </div>
        <div class="exec_title">
          <div class="exec_name">Ben Rossouw</div>
          <div class="exec_pos">Co-President</div>
        </div>
      </div>
    </div>
    <div class="exec">
      <div class="exec_portrait lida23">
        <div class="frame"></div>
      </div>
      <div class="exec_desc_box">
        <div class="exec_desc">
          <div>Major/Year</div>
          <div>4th year Business</div>
          <div>Hometown</div>
          <div>Langley, BC</div>
          <div>Instruments</div>
          <div>Bass, Guitar, Piano, Ukulele, Voice</div>
          <div>Can usually be found</div>
          <div>Somehow everywhere</div>
        </div>
        <div class="exec_title">
          <div class="exec_name">Lida Magnus</div>
          <div class="exec_pos">Vice President, Finance</div>
        </div>
      </div>
    </div>
    <div class="exec">
      <div class="exec_portrait">
        <div class="frame missing">?</div>
      </div>
      <div class="exec_desc_box">
        <div class="exec_desc">
          <div>Major/Year</div>
          <div>3rd year Nursing</div>
          <div>Hometown</div>
          <div>Langley BC</div>
          <div>Instruments</div>
          <div>Voice</div>
        </div>
        <div class="exec_title">
          <div class="exec_name">Nicola Brown</div>
          <div class="exec_pos">Vice President, Marketing</div>
        </div>
      </div>
    </div>
    <div class="exec">
      <div class="exec_portrait ellie23">
        <div class="frame"></div>
      </div>
      <div class="exec_desc_box">
        <div class="exec_desc">
          <div>Major/Year</div>
          <div>4th year Biology</div>
          <div>Hometown</div>
          <div>Squamish, BC</div>
          <div>Instruments</div>
          <div>Trumpet</div>
          <div>Can usually be found</div>
          <div>Eating chocolate</div>
        </div>
        <div class="exec_title">
          <div class="exec_name">Ellie Tiliakou</div>
          <div class="exec_pos">Vice President, Internal</div>
        </div>
      </div>
    </div>
    <div class="exec">
      <div class="exec_portrait steven23">
        <div class="frame"></div>
      </div>
      <div class="exec_desc_box">
        <div class="exec_desc">
          <div>Major/Year</div>
          <div>4th year Poli Sci/Music Minor</div>
          <div>Hometown</div>
          <div>Beijing, China</div>
          <div>Instruments</div>
          <div>Drums, Piano, Melodica</div>
          <div>Can usually be found</div>
          <div>
            Either playing drums or telling (peer pressuring) people to play
            drums
          </div>
        </div>
        <div class="exec_title">
          <div class="exec_name">steven zhu</div>
          <div class="exec_pos">Vice President, Music</div>
        </div>
      </div>
    </div>
    <div class="exec">
      <div class="exec_portrait david23">
        <div class="frame"></div>
      </div>
      <div class="exec_desc_box">
        <div class="exec_desc">
          <div>Major/Year</div>
          <div>2nd year Chem. & Bio. Engineering</div>
          <div>Hometown</div>
          <div>Langley, BC</div>
          <div>Instruments</div>
          <div>Drums, accordion</div>
          <div>Can usually be found</div>
          <div>Procrastinating</div>
        </div>
        <div class="exec_title">
          <div class="exec_name">David Boss</div>
          <div class="exec_pos">Events Executive</div>
        </div>
      </div>
    </div>
    <div class="exec">
      <div class="exec_portrait lucia23">
        <div class="frame"></div>
      </div>
      <div class="exec_desc_box">
        <div class="exec_desc">
          <!--<div>Major/Year</div>
          <div>1st year MSc Computer Science</div>
          <div>Hometown</div>
          <div>Langley, BC</div>-->
          <div>Instruments</div>
          <div>Voice</div>
          <div>Can usually be found</div>
          <div>In France</div>
        </div>
        <div class="exec_title">
          <div class="exec_name">Lucia Monchi</div>
          <div class="exec_pos">Marketing Executive</div>
        </div>
      </div>
    </div>
    <div class="exec">
      <div class="exec_portrait dylan23">
        <div class="frame"></div>
      </div>
      <div class="exec_desc_box">
        <div class="exec_desc">
          <div>Major/Year</div>
          <div>2nd year MSc Computer Science</div>
          <div>Hometown</div>
          <div>Langley, BC</div>
          <div>Instruments</div>
          <div>Various</div>
          <div>Can usually be found</div>
          <div>Doing computer stuff</div>
        </div>
        <div class="exec_title">
          <div class="special">President Emeritus</div>
          <div class="exec_name">Dylan Brown</div>
          <div class="exec_pos">Music Executive</div>
        </div>
      </div>
    </div>
  </div>
</div>
