.title_text_overlay {
  z-index: 10;
  width: 100%;
  top: 35%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;

  .title_box {
    display: table;
    margin-left: auto;
    margin-right: auto;

    .title_left,
    .title_right {
      display: table-cell;
      vertical-align: middle;
    }

    h1 {
      text-align: center;
      font-family: "Built-Tilting";
      color: white;
      font-size: 10vw;
      font-style: italic;
      font-weight: normal;
    }

    img {
      width: 10vw;
      padding-right: 3vw;
    }
  }

  .title_caption {
    position: relative;
    font-family: "Built-Tilting";
    font-style: italic;
    padding-top: 15vh;
    padding-bottom: 15vh;
    color: white;
    font-size: 2.5vw;

    background-image: url(../../assets/images/graphics/apostrophes.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
  }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
  .title_text_overlay {
    top: 15%;

    .title_box {
      h1 {
        font-size: 15vw;
      }
      img {
        width: 15vw;
      }
    }
    .title_caption {
      font-size: 5vw;
      margin-top: -7vh;

      background-size: 60%;
    }
  }
}

.hide {
  display: none !important;
}
