<div class="container">
  <div class="featured_wrapper">
    <img
      class="wave"
      src="../../assets/images/graphics/featured_photos_wave.png"
    />
    <img
      class="text"
      src="../../assets/images/graphics/featured_photos_title.png"
    />
    <div class="featured_photo">
      <!-- <div class="arrows">
        <div class="left arrow" @click="galleryNext()">
        </div>
        <div class="right arrow" @click="galleryBack()">
        </div>
      </div> -->
      <img class="f_img" v-bind:src="currImg" />
    </div>
  </div>
  <div class="divider albums">
    <div class="divider_text">
      <p>albums</p>
    </div>
  </div>
  <div class="albums_container">
    <div class="album_row">
      <div class="album evnt1">
        <div class="e_title">Formal Gala</div>
        <img
          src="../../assets/images/Gala/galacover.jpg"
          v-on:click="modalImage"
          modal-id="card-0"
        />
        <modal modal-id="card-0">Test 1</modal>
        <div class="e_desc">
          Photos from our end of semester Gala, featuring performances from our Big
          Bands, Dinner, and a jazz jam to end off the night! A night of good music
          and even better company!!
        </div>
      </div>
      <div class="album evnt2">
        <div class="e_title">Jazz 101</div>
        <img
          src="../../assets/images/Jazz_101/101cover.jpg"
          v-on:click="modalImage"
          modal-id="card-1"
        />
        <modal modal-id="card-1">Test 2</modal>
        <div class="e_desc">
          A snapshot of Jazz 101, our beginner jazz workshop for those looking to 
          learn more about "How to Jazz"! Check out the link in our instagram bio 
          for resources on getting started learning jazz.
        </div>
      </div>
      <div class="album evnt3">
        <div class="e_title">weekly jam</div>
        <img
          src="../../assets/images/weekly_jams/weekly_1.jpg"
          v-on:click="modalImage"
          modal-id="card-2"
        />
        <modal modal-id="card-2">Test 3</modal>
        <div class="e_desc">
          A peek into our weekly jams. Pictured: Execs, members and instruments
          galore. Not pictured: the occasional chaos, the intermittent <br />*
          squeaks *, the hubbub/flow of conversation and good company.
        </div>
      </div>
    </div>
  </div>
  <div class="divider videos">
    <div class="divider_text">videos</div>
  </div>
  <div class="vid_container">
    <div class="vid_desc">
      <a href="https://www.youtube.com/watch?v=gxxsWnqyZhg">
        2020 Project E-Jam
      </a>
    </div>
    <iframe
      class="video"
      src="https://www.youtube.com/embed/gxxsWnqyZhg"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    
  </div>
  <div class="vid_container">
    <div class="vid_desc">
      <a href="https://www.youtube.com/embed/YXw4z21t92w">
        2019 dancing with the stars
      </a>
    </div>
    <iframe
      class="video"
      src="https://www.youtube.com/embed/YXw4z21t92w"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    
  </div>
</div>
