.container {
  position: relative;
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--club-dark-grey);
  font-family: Built-Tilting;

  // Divider Parallax with text overlay
  .divider {
    position: relative;
    width: 100%;
    height: 40vh;

    .divider_text {
      position: absolute;
      top: 40%;

      width: 100%;

      color: white;
      font-family: Built-Tilting;
      font-size: 6vw;
    }

    &.albums {
      background: linear-gradient(
              rgba(0, 0, 0, 0.5), 
              rgba(0, 0, 0, 0.5)
            ),
            url("../../assets/images/christmas_6.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
    }

    &.videos {
      background: linear-gradient(
              rgba(0, 0, 0, 0.7), 
              rgba(0, 0, 0, 0.7)
            ),
            url("../../assets/images/imagine_day_4.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
    }

    &.history {
      background: linear-gradient(
              rgba(0, 0, 0, 0.5), 
              rgba(0, 0, 0, 0.5)
            ),
            url("../../assets/images/jam_4.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
    }
  }

  // featured photos
  .featured_wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    padding-top: 3vw;
    padding-bottom: 3vw;

    overflow-y: hidden;

    .wave {
      position: absolute;
      top: 45%;
      left: 0;

      width: 60%;
    }

    .text {
      position: absolute;
      top: 23%;
      left: 7%;

      width: 40%;
    }

    .featured_photo {
      position: relative;
      float: right;
      display: flex;

      margin-top: 5vw;
      margin-bottom: 5vw;
      margin-right: 7vw;

      width: 45%;
      max-height: 45vw;
      min-height: 45vw;

      .f_img {
        transition: all 0.3s;
        float: left;
        align-self: center;

        width: auto;
        max-height: 40vw;
        max-width: 45vw;
      }

      .arrows {
        position: absolute;
        right: 0;
        top: 0;
        margin-bottom: 5vw;
        margin-right: 2vw;
        width: 20%;

        .arrow {
          float: right;
          width: 0;
          height: 0;

          border-top: 1vw solid transparent;
          border-bottom: 1vw solid transparent;

          margin-left: .5vw;
          margin-right: .5vw;

          &:hover {
            cursor: pointer;
          }
        }

        .left {
          border-left: 2vw solid white;

          &:hover {
            border-left: 2vw solid var(--club-yellow);
          }
        }

        .right {
          border-right: 2vw solid white;

          &:hover {
            border-right: 2vw solid var(--club-yellow);
          }
        }
      }
    }
  }

  // regular events
  .albums_container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 5vw;
    margin-bottom: 5vw;

    .album_row {
      width: 90%;

      .album {
        display: inline-block;
        vertical-align: top;

        width: 30%;

        min-height: 40vw;
        max-height: 40vw;

        & > img {
          transition: width 0.3s;
          width: 90%;

          &:hover {
            cursor: pointer;
            width: 100%;
          }
        }

        .e_title {
          margin-bottom: 2vw;
          font-size: 5vw;
          color: var(--club-grey);
        }

        .e_desc {
          margin-top: 3vw;
          width: 90%;
          margin-left: auto;
          margin-right: auto;
          font-family: "Arial";
          font-style: italic;
          font-size: 1.1vw;
        }
      }
    }
  }

  // calendar
  .vid_container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vw;
    margin-bottom: 15vw;
    width: 80%;

    .video {
      width: 100%;
      height: 55vw;
    }

    .vid_desc {
      display: inline-block;
      margin-top: 6vw;

      & > a {
        text-decoration: none;
        color: var(--club-grey);

        &:hover {
          border-bottom: solid 2px;
        }
      }
      font-size: 5vw;
    }
  }
}