.container {
  // divider brightness
  $brightness: 0.5;

  position: relative;
  z-index: 20;
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--club-dark-grey);
  font-family: Built-Tilting;
  font-style: italic;

  .albums {
    background-image: linear-gradient(
            rgba(0, 0, 0, $brightness), 
            rgba(0, 0, 0, $brightness)
          ),
          url("../../assets/images/christmas_6.jpg");
  }

  .videos {
    background-image: linear-gradient(
            rgba(0, 0, 0, $brightness), 
            rgba(0, 0, 0, $brightness)
          ),
          url("../../assets/images/imagine_day_4.jpg");
  }

  .history {
    background-image: linear-gradient(
            rgba(0, 0, 0, $brightness), 
            rgba(0, 0, 0, $brightness)
          ),
          url("../../assets/images/jam_4.jpg");
  }

  // featured photos
  .featured_wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    padding-top: 3vw;
    padding-bottom: 3vw;

    overflow-y: hidden;

    .wave {
      position: absolute;
      top: 45%;
      left: 0;

      width: 60%;
    }

    .text {
      position: absolute;
      top: 23%;
      left: 7%;

      width: 40%;
    }

    .featured_photo {
      position: relative;
      float: right;
      display: flex;

      margin-top: 5vw;
      margin-bottom: 5vw;
      margin-right: 7vw;

      width: 45%;
      max-height: 45vw;
      min-height: 45vw;

      .f_img {
        transition: all 0.3s;
        float: left;
        align-self: center;

        width: auto;
        max-height: 40vw;
        max-width: 45vw;
      }

      .arrows {
        position: absolute;
        right: 0;
        top: 0;
        margin-bottom: 5vw;
        margin-right: 2vw;
        width: 20%;

        .arrow {
          float: right;
          width: 0;
          height: 0;

          border-top: 1vw solid transparent;
          border-bottom: 1vw solid transparent;

          margin-left: .5vw;
          margin-right: .5vw;

          &:hover {
            cursor: pointer;
          }
        }

        .left {
          border-left: 2vw solid white;

          &:hover {
            border-left: 2vw solid var(--club-yellow);
          }
        }

        .right {
          border-right: 2vw solid white;

          &:hover {
            border-right: 2vw solid var(--club-yellow);
          }
        }
      }
    }
  }

  // regular events
  .albums_container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 5vw;
    margin-bottom: 5vw;

    .album_row {
      width: 90%;

      .album {
        display: inline-block;
        vertical-align: top;

        width: 30%;

        min-height: 40vw;
        max-height: 40vw;

        & > img {
          transition: width 0.3s;
          width: 90%;

          &:hover {
            cursor: pointer;
            width: 100%;
          }
        }

        .e_title {
          margin-bottom: 2vw;
          font-size: 5vw;
          color: var(--club-grey);
        }

        .e_desc {
          margin-top: 3vw;
          width: 90%;
          margin-left: auto;
          margin-right: auto;
          font-family: "Arial";
          font-style: italic;
          font-size: 1.1vw;
        }
      }
    }
  }

  // calendar
  .vid_container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vw;
    margin-bottom: 15vw;
    width: 80%;

    .video {
      width: 100%;
      height: 55vw;
    }

    .vid_desc {
      display: inline-block;
      margin-top: 6vw;

      & > a {
        text-decoration: none;
        color: var(--club-grey);

        &:hover {
          border-bottom: solid 2px;
        }
      }
      font-size: 5vw;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .container {
    font-size: 12pt;
  
    // featured photos
    .featured_wrapper {
      padding-top: 2em;
      padding-bottom: 7em;
  
      .featured_photo {
        margin-top: 8em;
        margin-bottom: 2em;
        margin-right: 7vw;
  
        width: 50%;
        max-height: 35em;
        min-height: 35em;
  
        .f_img {
          max-height: 30em;
          max-width: 37em;
        }
  
        .arrows {
          margin-bottom: 5em;
          margin-right: 3em;
  
          .arrow {
            border-top: 1.5em solid transparent;
            border-bottom: 1.5em solid transparent;
  
            margin-left: .5em;
            margin-right: .5em;
          }
  
          .left {
            border-left: 2.5em solid white;
  
            &:hover {
              border-left: 2.5em solid var(--club-yellow);
            }
          }
  
          .right {
            border-right: 2.5em solid white;
  
            &:hover {
              border-right: 2.5em solid var(--club-yellow);
            }
          }
        }
      }
    }
  
    // regular events
    .albums_container {
      margin-top: 5em;
      margin-bottom: 5em;
  
      .album_row {
        width: 100%;
        
        .album {
          min-height: 35em;
          max-height: 35em;
  
          .e_title {
            font-size: 4em;
          }

          .e_desc {
            margin-top: 1em;
            font-size: 1.1em;
          }
        }
      }
    }
  
    // video
    .vid_container {
      margin-left: auto;
      margin-right: auto;
      margin-top: 11em;
      margin-bottom: 11em;
      width: 80%;
  
      .video {
        width: 100%;
        height: 45em;
      }
  
      .vid_desc {
        font-size: 5em;
      }
    }
  }
}