@font-face {
  font-family: "Built-Tilting";
  src: url(./assets/fonts/built-tilting-sb-it.ttf) format('truetype');
  src: 
      url(./assets/fonts/built-tilting-sb-it.eot) format('embedded-opentype'),
      url(./assets/fonts/built-tilting-sb-it.otf) format('opentype'),
      url(./assets/fonts/built-tilting-sb-it.woff) format('woff'),
      url(./assets/fonts/built-tilting-sb-it.woff2) format('woff2'),
      url(./assets/fonts/built-tilting-sb-it.svg) format('svg');
  font-style: normal;
  font-weight: normal;
}