.container {
  padding: 40vh 15vw 1rem 15vw;
  color: white;
  background-color: #333333;

  // Contact title section css
  #contact_section_title {
    padding-bottom: 30vh;

    #contact_title {
      font-size: 8vw;
      font-style: italic;
      color: var(--club-yellow);
      text-transform: uppercase;
      font-family: "Built-Tilting";

      display: inline-block;
      padding-right: 35%;
    }
  
    #contact_caption {
      font-size: 3vw;
      font-style: italic;

      display: inline-block;
      padding-left: 25%;
    }
  }

  // Contact form section css
  .contact_section_form {
    padding-bottom: 10vh;

    .contact_form_title {
      font-style: italic;
      font-size: 3vw;
      text-align: left;
      width: 50%;
      padding-bottom: 2rem;
    }

    .contact_form_container {
      display: table;
      margin-left: auto;
      margin-right: auto;
      font-size: 16pt;

      #contact_form_left {
        display: table-cell;
        width: 50%;

        p:first-child {
          padding-top: 1vh;
        }
        p {
          padding-top: 2vh;
          padding-bottom: 1vh;
          font-style: italic;
          text-align: left;
        }
  
        #contact_form {
          padding-right: 4vw;
          padding-left: 4vw;
    
          .feedback-input {
            color:white;
            font-family: Helvetica, Arial, sans-serif;
            font-weight:500;
            font-size: 18px;
            border-radius: 10px;
            line-height: 22px;
            background-color: #575757;
            transition: all 0.3s;
            padding: 13px;
            margin-bottom: 15px;
            width:100%;
            box-sizing: border-box;
          }
          
          textarea {
            height: 17vh;
            line-height: 150%;
            resize: none;
            border-style: inset !important;
            border-width: 2px !important;
          }

          ::placeholder { font-style: italic; }
          
          [type="submit"] {
            font-style: italic;
            width: 100%;
            background: transparent;
            border: solid 2px var(--club-yellow);
            border-radius:5px;
            cursor:pointer;
            color:var(--club-yellow);
            font-size:24px;
            padding-top:10px;
            padding-bottom:10px;
            transition: all 0.3s;
            margin-top:-4px;
            font-weight:700;
          }
    
          [type="submit"]:hover { 
            background: var(--club-yellow);
            border: solid 2px var(--club-grey);
            color: var(--club-grey);
          }
        }

        .hide {
          display: none;
        }

        .submitted {
          margin-top: 1vw;

          font-family: Built-Tilting;
          font-style: italic;
          font-size: 3vw;
        }
      }

      #contact_form_right {
        display: table-cell;
        width: 50%;
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-left: 4vw;
        border-left: solid var(--club-yellow) 4pt;

        p {
          font-style: italic;
          text-align: left;
          padding-bottom: 1vh;

          a {
            font-weight: 700;
            color: white;

            &:hover {
              color: var(--club-yellow);
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    font-size: 12pt;
    padding: 20em 5em 1em 5em;
  
    // Contact title section css
    #contact_section_title {
      padding-bottom: 30vh;
  
      #contact_title {
        font-size: 7em;
      }
    
      #contact_caption {
        font-size: 2em;
      }
    }
  
    // Contact form section css
    .contact_section_form {
      padding-bottom: 10em;
  
      .contact_form_title {
        font-size: 2.5em;
        width: 50%;
        padding-bottom: 1em;
      }
  
      .contact_form_container {
        font-size: 1.5em;
  
        #contact_form_left {
    
          #contact_form {
            padding-right: 2em;
            padding-left: 2em;
      
            .feedback-input {
              font-size: 1em;
            }
            
            [type="submit"] {
              font-size: 1em;
            }
          }
  
          .hide {
            display: none;
          }
  
          .submitted {
            margin-top: 1vw;
            font-size: 2em;
          }
        }
  
        #contact_form_right {
          padding-left: 2em;
        }
      }
    }
  }
}