.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30vw;
  color: white;
  background-color: #333333;

  .hide {
    display: none;
  }

  // Contact title section css
  #contact_section_title {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-bottom: 30vh;

    #contact_title {
      display: inline-block;
      align-self: flex-start;

      margin-left: 5%;

      font-size: 8vw;
      font-style: italic;
      color: var(--club-yellow);
      text-transform: uppercase;
      font-family: "Built-Tilting";
    }
  
    #contact_caption {
      display: inline-block;
      align-self: flex-end;

      margin-right: 5%;

      font-size: 3vw;
      font-style: italic;
    }
  }

  // Contact form section css
  .contact_section_form {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-bottom: 10vh;

    .contact_form_title {
      font-style: italic;
      font-size: 3vw;
      text-align: left;
      width: 50%;
      padding-bottom: 2rem;
    }

    .contact_form_container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      font-size: 1.5vw;

      #contact_form_left {
        display: inline-block;
        width: 50%;

        p:first-child {
          padding-top: 1vh;
        }
        p {
          padding-top: 2vh;
          padding-bottom: 1vh;
          font-style: italic;
          text-align: left;
        }
  
        #contact_form {
          padding-right: 4vw;
          padding-left: 4vw;
    
          .feedback-input {
            color:white;
            font-family: Helvetica, Arial, sans-serif;
            font-weight:500;
            font-size: 18px;
            border-radius: 10px;
            line-height: 22px;
            background-color: #575757;
            transition: all 0.3s;
            padding: 13px;
            margin-bottom: 15px;
            width:100%;
            box-sizing: border-box;
          }
          
          textarea {
            height: 17vh;
            line-height: 150%;
            resize: none;
            border-style: inset !important;
            border-width: 2px !important;
          }

          ::placeholder { font-style: italic; }
          
          [type="submit"] {
            font-style: italic;
            width: 100%;
            background: transparent;
            border: solid 2px var(--club-yellow);
            border-radius:5px;
            cursor:pointer;
            color:var(--club-yellow);
            font-size:24px;
            padding-top:10px;
            padding-bottom:10px;
            transition: all 0.3s;
            margin-top:-4px;
            font-weight:700;
          }
    
          [type="submit"]:hover { 
            background: var(--club-yellow);
            border: solid 2px var(--club-grey);
            color: var(--club-grey);
          }
        }

        .submitted {
          margin-top: 1vw;

          font-family: Built-Tilting;
          font-style: italic;
          font-size: 3vw;
        }
      }

      #contact_form_right {
        display: inline-block;
        width: 46%;
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-left: 4%;
        border-left: solid var(--club-yellow) 4pt;

        p {
          font-style: italic;
          text-align: left;
          padding-bottom: 1vh;

          a {
            font-weight: 700;
            color: white;

            &:hover {
              color: var(--club-yellow);
            }
          }
        }
      }
    }
  }
}

@media screen 
and (max-width: 1024px)
{
  .container {
    width: 100%;
  
    // Contact title section css
    #contact_section_title {
      width: 90%;
      padding-bottom: 30vw;
  
      #contact_title {
        font-size: 10vw;
      }
    
      #contact_caption {
        font-size: 4vw;
      }
    }
  
    // Contact form section css
    .contact_section_form {
      padding-bottom: 10vw;
  
      .contact_form_title {
        font-size: 5vw;
        width: 100%;
        padding-bottom: 1vw;
      }
  
      .contact_form_container {
        flex-direction: column;
        font-size: 4vw;
  
        #contact_form_left {
          position: relative;
          width: 90%;

          padding-bottom: 10vw;
          margin-bottom: 10vw;
    
          #contact_form {
            padding-right: 2vw;
            padding-left: 2vw;
      
            .feedback-input {
              font-size: 4vw;
            }
            
            [type="submit"] {
              font-size: 4vw;
            }
          }
  
          .hide {
            display: none;
          }
  
          .submitted {
            margin-top: 4vw;
            font-size: 6vw;
          }

          // Trick to get resizable bottom border
          &:after {
            position: absolute;
            display: block;
            left: 50%;
            bottom: 0;
            content: '';

            width: 70%;
            height: 2px;

            background-color: var(--club-yellow);
            transform: translate(-50%,0);
          }
        }
  
        #contact_form_right {
          width: 90%;
          padding-left: 2vw;

          border-left: none;
          p {
            text-align: center;
          }
        }
      }
    }
  }
}