<div class="container">
  <div id="contact_section_title">
    <div id="contact_title">let us know</div>
    <div id="contact_caption">if you have any questions or feedback</div>
  </div>
  <div class="contact_section_form">
    <div class="contact_form_title">
      <span>Contact us directly:</span>
    </div>
    <div class="contact_form_container">
      <div id="contact_form_left">
        <p>Have any questions about the club?</p>
        <br />
        <p>
          Reach out to us on Facebook, Instagram, or at
          <a href="mailto:president@ubcjazzclub.ca">president@ubcjazzclub.ca</a>!
        </p>
        <br />
        <p>Link to socials below!</p>
      </div>
      <div id="contact_form_right">
        <p>Interested in booking our band?</p>
        <br />
        <p>{{ bookingDesc }}</p>
        <br />
        <p>{{ bookingPolicy }}</p>
        <p>{{ compensation }}</p>
        <br />
        <p>
          Please email us at
          <a href="mailto:music@ubcjazzclub.ca">music@ubcjazzclub.ca</a> to book
          a gig! 
        </p>
      </div>
    </div>
  </div>
</div>
