.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15vw;
  color: white;
  background-color: #333333;

  .hide {
    display: none;
  }

  // Contact title section css
  #contact_section_title {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-bottom: 15vh;

    #contact_title {
      display: inline-block;
      align-self: flex-start;

      margin-left: 5%;

      font-size: 8vw;
      font-style: italic;
      color: var(--club-yellow);
      text-transform: uppercase;
      font-family: "Built-Tilting";
    }

    #contact_caption {
      display: inline-block;
      align-self: flex-end;

      margin-right: 5%;

      font-size: 3vw;
      font-style: italic;
    }
  }

  // Contact form section css
  .contact_section_form {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-bottom: 10vh;

    .contact_form_title {
      font-style: italic;
      font-size: 3vw;
      text-align: left;
      width: 50%;
      padding-bottom: 2rem;
    }

    .contact_form_container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      font-size: 1.5vw;

      #contact_form_left {
        
        p {
          font-style: italic;
          text-align: left;
          padding-bottom: 1vh;
          padding-right: 10%;

          a {
            font-weight: 700;
            color: white;

            &:hover {
              color: var(--club-yellow);
            }
          }
        }
      }

      #contact_form_right {
        display: inline-block;
        width: 175%;
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-left: 4%;
        border-left: solid var(--club-yellow) 3.5pt;

        p {
          font-style: italic;
          text-align: left;
          padding-bottom: 1vh;

          a {
            font-weight: 700;
            color: white;

            &:hover {
              color: var(--club-yellow);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) and (orientation: portrait) {
  .container {
    width: 100%;

    // Contact title section css
    #contact_section_title {
      width: 90%;
      padding-bottom: 30vw;

      #contact_title {
        font-size: 10vw;
      }

      #contact_caption {
        font-size: 4vw;
      }
    }

    // Contact form section css
    .contact_section_form {
      padding-bottom: 10vw;

      .contact_form_title {
        font-size: 5vw;
        width: 100%;
        padding-bottom: 1vw;
      }

      .contact_form_container {
        flex-direction: column;
        font-size: 4vw;

        #contact_form_left {
          width: 90%;
          padding-left: 2vw;

          border-left: none;
          p {
            text-align: center;
          }
        }

        #contact_form_right {
          width: 90%;
          padding-left: 2vw;

          border-left: none;
          p {
            text-align: center;
          }
        }
      }
    }
  }
}
