<div class="container">
  <div id="contact_section_title">
    <div id="contact_title">
      let us know
    </div>
    <div id="contact_caption">
      if you have any questions or feedback
    </div>
  </div>
  <div class="contact_section_form">
    <div class="contact_form_title">
      <span>Contact us directly:</span>
    </div>
    <div class="contact_form_container">
      <div id="contact_form_left">
      <form id="contact_form" @submit.prevent="staticSubmit" enctype="text/plain" target="hidden_iframe">
          <p>
            Name:
          </p>
          <input id="name" name="entry.495402710" type="text" class="feedback-input" placeholder="Your name..." />
          <p>
            Subject:
          </p>
          <input id="subject" name="entry.308083149" type="text" class="feedback-input" placeholder="Subject of message..." />
          <p>
            Message:
          </p>
          <textarea id="message" name="entry.1511380091" class="feedback-input" placeholder="Enter your message here!"></textarea>
          <input type="submit" value="SUBMIT"/>
        </form>
        <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"></iframe>
        <div class="submitted status hide">
        </div>
      </div>
      <div id="contact_form_right">
        <p>
          Interested in booking our band?
        </p>
        <p style="color: red;">
          {{ bookingInfo }}
        </p>
        <br/>
        <p>
          Our band description:
        </p>
        <p>
          {{ bookingDesc }}
        </p>
        <br/>
        <p>
          Booking Policies:
        </p>
        <p>
          {{ bookingPolicy }}
        </p>
        <br/>
        <p>
          <a href="https://forms.gle/K7ShouGvhyyWTbUF9">
            click here for our google form
          </a>
        </p>
      </div>
    </div>
  </div>
</div>