<div class="modal-container">

  <transition name="slide-fade">
    <div v-show="modalState" class="modal-content">

        <!-- FULL SCREEN MODAL -->
        <!-- CLOSE BUTTON -->
        <button @click="hide" id="close-button">
            <p>Close</p>
        </button>

        <!-- MODAL CONTENTS -->
        <slot></slot>
    </div>
  </transition>

  <transition name="fade"><div v-if="modalState" class="modal-backdrop" :class="{'modal-light-backdrop': confirmationModal}"></div></transition>

</div>