<div class="container">
  <div class="top_section">
    <div class="description">
      {{ description }}
      <img
        class="circle"
        id="circle1"
        src="../../assets/images/graphics/circle.png"
      />
      <img
        class="circle"
        id="circle2"
        src="../../assets/images/graphics/circle.png"
      />
      <img
        class="circle"
        id="circle3"
        src="../../assets/images/graphics/circle.png"
      />
      <img
        class="circle"
        id="circle4"
        src="../../assets/images/graphics/circle.png"
      />
    </div>
    
  </div>
  <div class="divider div_about">
    <div class="divider_text">awards</div>
  </div>
  <div class="awards_section">
    <div class="awards_row">
      <div class="award">
        <img src="../../assets/images/graphics/trophy_icon.png" />
        <div class="desc">
          <p>best club overall</p>
          <p>2024 ams club awards</p>
        </div>
      </div>
      <div class="award">
        <img src="../../assets/images/graphics/trophy_icon.png" />
        <div class="desc">
          <p>best arts club</p>
          <p>2023 ams club awards</p>
        </div>
      </div>
      <div class="award">
        <img src="../../assets/images/graphics/trophy_icon.png" />
        <div class="desc">
          <p>best club overall</p>
          <p>2022 ams club awards</p>
        </div>
      </div>
      <div class="award">
        <img src="../../assets/images/graphics/trophy_icon.png" />
        <div class="desc">
          <p>best media, arts,</p>
          <p>or performance club award</p>
          <p>2019 ams club awards</p>
        </div>
      </div>
      <div class="award">
        <img src="../../assets/images/graphics/trophy_icon.png" />
        <div class="desc">
          <p>leisure/hobby/special interest</p>
          <p>2015 ams club awards</p>
        </div>
      </div>
    </div>
  </div>
  <div class="ratings">
    <div class="review_title">
      Here are some thoughts from a few of our members:
    </div>
    <div class="review">
      <div class="star_rating">
        <ul>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
        </ul>
      </div>
      <div class="desc">
        <div class="quote">
          "UBC Jazz Club is a welcoming and safe space to connect and share
          a passion and love for music"
        </div>
        <div class="author">- david (drummer)</div>
      </div>
    </div>
    <div class="review">
      <div class="star_rating">
        <ul>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
        </ul>
      </div>
      <div class="desc">
        <div class="quote">
          "the jazz club is the perfect place to meet like-minded musicians and make some 
          awesome sounds together."
        </div>
        <div class="author">- nicola (vocalist)</div>
      </div>
    </div>
    
    <div class="review">
      <div class="star_rating">
        <ul>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
        </ul>
      </div>
      <div class="desc">
        <div class="quote">
          "I love the UBC Jazz Club : )"
        </div>
        <div class="author">- eora (guitarist)</div>
      </div>
    </div>
  </div>
 
</div>
