.container {
  position: relative;
  color: white;
  overflow: hidden;
  background-color: var(--club-dark-grey);
  font-family: "Arial";

  .div_about {
    background-image: linear-gradient(
              rgba(0, 0, 0, 0.5), 
              rgba(0, 0, 0, 0.5)
            ),
            url("../../assets/images/jam_5.jpg");
  }

  .top_section {
    position: relative;
    margin-left: 15vw;
    margin-right: 15vw;

    .circle {
      position: absolute;
      opacity: 0.5;
      z-index: 1;
    }
  
    #circle1 {
      // Top-left small circle
      width: 15%;
      top: 12%;
      left: 5%;
    }
  
    #circle2 {
      // Top-left big circle
      width: 30%;
      top: 20%;
      left: -10%;
    }
    
    #circle3 {
      // Bot-right big circle
      width: 37%;
      top: 27%;
      right: -5%;
    }
    
    #circle4 {
      // Bot-right small circle
      width: 15%;
      top: 60%;
      right: -7%;
    }
  
    .description {
      position: relative;
      z-index: 5;
      padding-top: 17vw;
      padding-bottom: 20vw;
      font-size: 1.6vw;
    }
  
    .description_ext {
      position: relative;
      z-index: 5;
      font-size: 1.75vw;
      font-style: italic;
      
      .text_1 {
        padding-bottom: 10vw;
      }
  
      .text_2 {
        padding-bottom: 2vw;
      }
  
      .text_3 {
        padding-bottom: 5vw;
      }
    }
  }

  .ratings {
    width: 70%;
    position: relative;

    font-family: Built-Tilting;
    font-style: italic;
    font-weight: normal;

    // Margins
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20vw;

    // Padding
    padding-top: 5vw;
    padding-bottom: 5vw;

    // Font Color
    color: rgba(255,255,255,0.7);

    // Yellow border
    border-style: solid;
    border-width: 8pt;
    border-color: var(--club-yellow);

    .review{
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      font-size: calc(1rem + 2vw);
      padding-top: 5vw;
      padding-bottom: 5vw;

      .star_rating {
        width: 30%;
        margin-left: auto;
        margin-right: auto;

        ul {
          list-style-type: none;
          margin: 0;
          padding-inline-start: unset;
          display: flex;
          align-items: center;
        }

        img {
          width: 70%;
        }
      }

      .desc {
        display: inline-block;
        padding-top: 2vw;
        margin-left: auto;
        margin-right: auto;
        .author {
          margin-top: 3vw;
        }
      }
    }
  }

  .awards_section {
    margin-top: 11vw;
    margin-bottom: 30vw;

    .awards_row {
      display: flex;
      align-items: flex-start;
      justify-content: center;

      .award {
        display: inline-block;
        padding-left: 4vw;
        padding-right: 4vw;
        font-size: 1.25vw;

        img {
          width: 20vw;
        }

        .desc {
          text-transform: uppercase;
          padding-top: 2vw;
          p {
            padding-top: 0.5vw;
          }
        }
      }
    }
  }
}

@media screen
and (max-width: 1023px)
and (orientation: portrait) {
  .container {
    .top_section {
      position: relative;
      margin-left: 10vw;
      margin-right: 10vw;
      $circle-scale: 25%;
  
      .circle {
        position: absolute;
        opacity: 0.5;
        z-index: 1;
      }
    
      #circle1 {
        // Top-left small circle
        width: $circle-scale * 0.7;
        top: 5%;
        left: -10%;
      }
    
      #circle2 {
        // Top-left big circle
        width: $circle-scale * 1.5;
        top: 9%;
        left: -30%;
      }
      
      #circle3 {
        // Bot-right big circle
        width: $circle-scale * 2;
        top: 20%;
        right: -27%;
      }
      
      #circle4 {
        // Bot-right small circle
        width: $circle-scale;
        top: 55%;
        right: -27%;
      }
    
      .description {
        position: relative;
        z-index: 5;
        padding-top: 20vw;
        padding-bottom: 20vw;
        font-size: 3.5vw;
      }
    
      .description_ext {
        position: relative;
        z-index: 5;
        font-size: 4vw;
        font-style: italic;
        
        .text_1 {
          padding-bottom: 20vw;
        }
    
        .text_2 {
          padding-bottom: 7vw;
        }
    
        .text_3 {
          margin-bottom: 20vw;
        }
      }
    }

    .ratings {
      width: 70%;
  
      // Margins
      margin-top: 2vw;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20vw;
  
      // Padding
      padding-top: 5vw;
      padding-bottom: 5vw;
  
      // Yellow border
      border-width: 2pt;
  
      .review{
        width: 70%;
        font-size: 5vw;
        padding-top: 5vw;
        padding-bottom: 5vw;
  
        .star_rating {
          width: 50%;
  
          img {
            width: 60%;
          }
        }
  
        .desc {
          padding-top: 2vw;
          .author {
            margin-top: 3vw;
          }
        }
      }
    }

    .awards_section {
      margin-top: 11vw;
      margin-bottom: 30vw;
  
      .awards_row {
        .award {
          padding-left: 4vw;
          padding-right: 4vw;
          font-size: 2vw;
  
          .desc {
            padding-top: 2vw;
            p {
              padding-top: 0.5vw;
            }
          }
        }
      }
    }
  }
}