<div class="container">
  <div class="top_section">
    <div class="description">
      {{ description }}
      <img
        class="circle"
        id="circle1"
        src="../../assets/images/graphics/circle.png"
      />
      <img
        class="circle"
        id="circle2"
        src="../../assets/images/graphics/circle.png"
      />
      <img
        class="circle"
        id="circle3"
        src="../../assets/images/graphics/circle.png"
      />
      <img
        class="circle"
        id="circle4"
        src="../../assets/images/graphics/circle.png"
      />
    </div>
    <div class="description_ext">
      <div class="text_1">
        Our core values consist of: expression, acceptance, and fun!
      </div>
      <div class="text_2">Why just take it from us though?</div>
      <div class="text_3">
        Here are some thoughts from a few of our members:
      </div>
    </div>
  </div>
  <div class="ratings">
    <div class="review">
      <div class="star_rating">
        <ul>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
        </ul>
      </div>
      <div class="desc">
        <div class="quote">
          "jazz club is very much my home away from home."
        </div>
        <div class="author">- dylan (pianist/trumpeter)</div>
      </div>
    </div>
    <div class="review">
      <div class="star_rating">
        <ul>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
        </ul>
      </div>
      <div class="desc">
        <div class="quote">
          "the jazz club is a perfect creative outlet for me. I love having a
          place where I can jam with my friends and fellow music theory nerds."
        </div>
        <div class="author">- edith (bassist)</div>
      </div>
    </div>
    <div class="review">
      <div class="star_rating">
        <ul>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
        </ul>
      </div>
      <div class="desc">
        <div class="quote">
          "the club gives me so much positive energy. every single person in the
          ubc jazz club is very well-rounded and i always feel welcome. in
          therms of music and jams, i feel that the club members know that music
          is not a competition but a joy and love. [these] small things
          contribute to the loving vibe of the club overall!"
        </div>
        <div class="author">- jake (bassist/guitarist)</div>
      </div>
    </div>
    <div class="review">
      <div class="star_rating">
        <ul>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
          <li><img src="../../assets/images/graphics/rating_star_sm.png" /></li>
        </ul>
      </div>
      <div class="desc">
        <div class="quote">
          "[jazz club is] the perfect place to wind down after a long day. i
          [have also] met some of the most talented musicians i've ever played
          with at our sessions!"
        </div>
        <div class="author">- umut (drummer)</div>
      </div>
    </div>
  </div>
  <div class="divider div_about">
    <div class="divider_text">awards</div>
  </div>
  <div class="awards_section">
    <div class="awards_row">
      <div class="award">
        <img src="../../assets/images/graphics/trophy_icon.png" />
        <div class="desc">
          <p>leisure/hobby/special interest</p>
          <p>2015 ams club awards</p>
        </div>
      </div>
      <div class="award">
        <img src="../../assets/images/graphics/trophy_icon.png" />
        <div class="desc">
          <p>best media, arts,</p>
          <p>or performance club award</p>
          <p>2019 ams club awards</p>
        </div>
      </div>
      <div class="award">
        <img src="../../assets/images/graphics/trophy_icon.png" />
        <div class="desc">
          <p>best club overall</p>
          <p>2022 ams club awards</p>
        </div>
      </div>
    </div>
  </div>
</div>
