.container {
  // Divider brightness
  $brightness: 0.5;
  
  position: relative;
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--club-dark-grey);
  font-family: Built-Tilting;
  font-style: italic;

  .calendar {
      background-image: linear-gradient(
              rgba(0, 0, 0, $brightness), 
              rgba(0, 0, 0, $brightness)
            ),
            url("../../assets/images/social_10.jpg");
  }

  .reg_events {
    background-image: linear-gradient(
            rgba(0, 0, 0, $brightness), 
            rgba(0, 0, 0, $brightness)
          ),
          url("../../assets/images/weekly_jams/weekly_16.jpg");
  }

  .history {
    background-image: linear-gradient(
            rgba(0, 0, 0, $brightness), 
            rgba(0, 0, 0, $brightness)
          ),
          url("../../assets/images/jam_4.jpg");
  }

  // calendar
  .cal_container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vw;
    margin-bottom: 15vw;
    width: 85%;

    & > img {
      width: 100%;
    }
  }

  // regular events
  .reg_events_container {
    margin-top: 5vw;
    margin-bottom: 10vw;
    position: relative;
    display: flex;
    justify-content: center;

    .events {
      display: flex;
      justify-content: center;
      width: 90%;

      .event {
        display: inline-block;
        width: 30%;
        vertical-align: top;

        & > img {
          width: 90%;
        }

        .e_title {
          margin-bottom: 2vw;
          font-size: 5vw;
          color: var(--club-grey);
        }

        .e_desc {
          margin-top: 3vw;
          width: 90%;
          margin-left: auto;
          margin-right: auto;
          font-family: "Arial";
          font-style: italic;
          font-size: 1.1vw;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    // calendar
    .cal_container {
      margin-top: 8vw;
      margin-bottom: 8vw;
      width: 100%;
    }
  
    // regular events
    .reg_events_container {
      margin-top: 10vw;
      margin-bottom: 10vw;
  
      .events {
        flex-direction: column;
        align-items: center;
        width: 90%;
  
        .event {
          width: 80%;
  
          .e_title {
            font-size: 10vw;
          }

          img {
            width: 70%;
          }
  
          .e_desc {
            position: relative;
            width: 100%;

            padding-bottom: 4vw;

            margin-top: 7vw;
            margin-bottom: 7vw;
            margin-left: auto;
            margin-right: auto;

            font-family: "Arial";
            font-style: italic;
            font-size: 3vw;

            // Trick to get resizable bottom border
            &:after {
              position: absolute;
              display: block;
              left: 50%;
              bottom: 0;
              content: '';

              width: 70%;
              height: 1px;

              background-color: var(--club-yellow);
              transform: translate(-50%,0);
            }
          }
        }
      }
    }
  }
}