.timeline_wrapper {
  --paragraph-font: "Arial";
  color: var(--club-dark-grey);

  margin: 0;

  display: flex;
  flex-direction: column;

  margin-top: 0;
  margin-bottom: 1.5vw;

  max-width: 80%;
  padding: 3vw 2vw 3vw;
  margin-left: auto;
  margin-right: auto;
  order: 1;

  .timeline {
    position: relative;
    padding-top: 1vw;
    padding-bottom: 3vw;
    margin-top: 5vw;
    font-style: italic;

    color: white;
  
    &:before {
      content: "";
      width: 4px;
      height: 100%;
      background-color: var(--club-yellow);
  
      position: absolute;
      top: 0;
      left: 28%;
    }

    .timeline_year_w {
      position: relative;
      display: inline-block;
      width: 100%;

      .timeline_year {
        display: block;
        float: left;
        width: 20%;
  
        font-size: 2.5vw;
        font-family: "Arial";
        font-style: italic;
        text-align: right;
      }

      &.separator {
        margin-top: 10vw;
      }
    }

    .timeline_group {
      position: relative;
      justify-content: left;
      align-items: flex-start;
      display: flex;
      margin-top: 6vw;
      width: 100%;

      font-size: 2.5vw;
      font-family: var(--paragraph-font);

      &.first {
        margin-top: unset;
      }

      .timeline_month {
        margin-right: 4.5vw;
        width: 20%;
        text-align: right;
      }

      .timeline_date {
        max-height: 4vw;
        min-width: 3.5vw;
        margin-right: 4vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--club-yellow);

        .date {
          margin-left: -0.3vw;
          max-height: 4vw;
        }
      }

      .timeline_box {
        display: inline-block;
        padding: 1vw;
        width: 58%;

        background-color: var(--club-grey);

        .left {
          width: 55%;
          float: left;

          img {
            width: 100%;
          }
        }

        .right {
          display: inline-block;
          width: 40%;

          text-align: left;

          .title {
            font-family: Built-Tilting;
            font-size: 3vw;
            color: var(--club-yellow);
          }

          .desc {
            margin-top: 1vw;

            font-size: 1.2vw;
          }
        }
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .timeline_wrapper {
    margin-bottom: 1.5vw;
  
    max-width: 100%;
    padding: 3vw 2vw 3vw;
  
    .timeline {
      padding-top: 1vw;
      padding-bottom: 3vw;
      margin-top: 10vw;
      margin-bottom: 10vw;

      &:before {
        position: absolute;
        top: 0;
        left: 24%;
        content: "";

        width: 2px;
        height: 100%;

        background-color: var(--club-yellow);
      }
  
      .timeline_year_w {
        .timeline_year {
          font-size: 3vw;
        }
  
        &.separator {
          margin-top: 10vw;
        }
      }
  
      .timeline_group {
        margin-top: 3vw;
        font-size: 3vw;
  
        .timeline_month {
          margin-right: 2vw;
        }
  
        .timeline_date {
          max-height: 4vw;
          min-width: 4vw;
          margin-right: 4vw;
  
          .date {
            margin-left: 0vw;
            max-height: 4vw;
          }
        }
  
        .timeline_box {
          display: flex;
          flex-direction: column;
          padding: 2vw;
          width: 60%;

          .left {
            width: 100%;
            float: left;
  
            img {
              width: 100%;
            }
          }

          .right {
            width: 100%;
            .title {
              margin-top: 1vw;
              font-family: Built-Tilting;
              font-size: 5vw;
              color: var(--club-yellow);
            }
  
            .desc {
              margin-top: 1vw;
  
              font-size: 2.5vw;
            }
          }
        }
      }
    }
  }
}