.container {
  --text-padding: 10px;
  color: var(--club-yellow);
  position: relative;
  background-color: var(--club-dark-grey);
  width: 100%;

  .content {
    overflow: hidden;
  }

  .hide {
    display: none !important;
  }

  // Intro Content
  .intro_content {
    position: relative;
    margin-left: 15vw;
    margin-right: 15vw;
    font-style: italic;
    font-size: 1.5vw;
    color: white;
    transition: all 0.3s;

    .back_circle {
      position: absolute;
      opacity: 0.5;
    }

    #circle1 {
      // Intro3 background circle
      width: 15%;
      bottom: 33%;
      right: 0;
    }

    #circle2 {
      // Big Background circle
      top: -10%;
      right: 45%;
      width: 200vh;
    }

    #circle3 {
      // Miscellaneous Decoration Circle
      width: 15%;
      bottom: 10%;
      left: 0;
    }

    .intro_1 {
      position: relative;
      padding-top: 40vh;

      p {
        background-color: var(--club-dark-grey);
        padding: var(--text-padding);
      }
    }

    .intro_2 {
      position: relative;
      padding-top: 30vh;
      text-align: left;

      .table {
        position: relative;
        width: 50%;

        .circle {
          top: -6vh;
          left: 15%;
          position: absolute;
          width: 60%;
        }

        .table_left {
          position: relative;
          display: block;
          float: left;
          background-color: var(--club-dark-grey);
          padding: var(--text-padding);
        }

        .table_right {
          position: relative;
          margin-top: 2vh;
          display: block;
          float: right;
          text-align: right;
          background-color: var(--club-dark-grey);
          padding: var(--text-padding);
        }
      }
    }

    .intro_3 {
      position: relative;
      padding-top: 40vh;
      padding-right: 10vw;
      text-align: right;

      .circle {
        position: absolute;
        top: 60%;
        right: 0;
        width: 30%;
      }

      .desc {
        position: relative;
        padding: var(--text-padding);
        background-color: var(--club-dark-grey);
      }
    }

    .space {
      padding-bottom: 40vh;
    }
  }

  // Divider Parallax with text overlay
  .divider {
    position: relative;
    background: linear-gradient(
              rgba(0, 0, 0, 0.5), 
              rgba(0, 0, 0, 0.5)
            ),
            url("../../assets/home_events_divider.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 40vh;

    .divider_text {
      position: absolute;
      top: 40%;

      height: 100%;
      width: 100%;

      color: white;
      font-family: Built-Tilting;
      font-style: italic;
      font-size: 5vw;
    }
  }

  // Events Content
  .events_content {
    color: white;
    width: 100%;

    .events_description {
      padding-top: 20vw;
      padding-bottom: 18vw;
      font-family: sans-serif;
      font-style: italic;
      text-transform: uppercase;
      font-size: 2vw;
      margin-left: auto;
      margin-right: auto;
      width: 70%;

      border-bottom: var(--club-yellow) 0.5vw solid;
    }

    .events_display {
      padding-top: 15vw;
      margin-left: auto;
      margin-right: auto;
      width: 80%;

      img {
        transition: 0.3s all;
        width: 100%;
        text-align: center;
        display: inline-block;

        &:hover {
          transform: scale(1.1);
          // cursor: pointer;
        }
      }

      .events_imgs {
        table-layout: auto;
        border-collapse: collapse;
        width: 100%;
      }

      td {
        width: 33%;
        vertical-align: top;
      }

      tr {
        display: inline-block;
        padding: 1vw;
      }
    }

    .events_load {
      transition: 0.3s all;
      float: right;
      margin-right: 1vw;
      margin-top: 5vw;
      margin-bottom: 10vw;
      display: block;

      padding: 1vw;
      border: white 2px solid;

      text-transform: uppercase;
      font-style: italic;
      font-size: 2vw;

      &:hover {
        cursor: pointer;
        background-color: black;
        color: var(--club-yellow);
        border: var(--club-yellow) 2px solid;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    font-size: 12pt;
    // Intro Content
    .intro_content {
      margin-left: 11rem;
      margin-right: 11rem;
      font-size: 1.25em;
      height: 65rem;

      #circle2 {
        // Big Background circle
        top: -10%;
        right: 45%;
        width: 145%;
      }

      .intro_1 {
        position: relative;
        padding-top: 12rem;
      }
  
      .intro_2 {
        padding-top: 10rem;
  
        .table {
  
          .circle {
            top: -4rem;
          }
  
          .table_right {
            margin-top: 1.5rem;
          }
        }
      }
  
      .intro_3 {
        padding-top: 20rem;
        padding-right: 2rem;
  
        .circle {
          top: 60%;
          right: 0;
          width: 30%;
        }
      }
  
      .space {
        padding-bottom: 10rem;
      }
    }
  
    // Divider Parallax for ios need to disable parallax
    .divider {
      background-attachment: unset !important;
      background-position: center top !important;
      min-height: 15em;
  
      .divider_text {
        top: 32%;
        font-size: 4em;
      }
    }
  
    // Events Content
    .events_content {
  
      .events_description {
        padding-top: 20vw;
        padding-bottom: 18vw;
        font-size: 1.25em;
  
        border-bottom: var(--club-yellow) 0.5em solid;
      }
  
      .events_display {
        padding-top: 5em;
  
        tr {
          padding: 1em;
        }
      }
  
      .events_load {
        margin-right: 0.75em;
        margin-top: 0.25em;
        margin-bottom: 5em;
  
        padding: 0.5em;

        font-size: 2em;
      }
    }
  }
}