.container {
  --text-padding: 10px;
  color: var(--club-yellow);
  position: relative;
  background-color: var(--club-dark-grey);
  width: 100%;

  .content {
    overflow: hidden;
  }

  .hide {
    display: none !important;
  }

  // Intro Content
  .intro_content {
    position: relative;
    margin-left: 15vw;
    margin-right: 15vw;
    font-style: italic;
    font-size: 1.5vw;
    color: white;
    transition: all 0.3s;

    .back_circle {
      position: absolute;
      opacity: 0.5;
    }

    #circle2 {
      // Big Background circle
      top: -30vw;
      right: 40%;
      width: 150vw;
    }

    #circle3 {
      // Miscellaneous Decoration Circle
      width: 15%;
      bottom: 10%;
      left: 0;
    }

    .intro_1 {
      position: relative;
      margin-top: 20vw;

      p {
        background-color: var(--club-dark-grey);
        padding: var(--text-padding);
      }
    }

    .intro_2 {
      position: relative;
      margin-top: 30vw;
      text-align: left;

      .table {
        position: relative;
        display: inline-block;
        width: 50%;

        .circle {
          top: -6vw;
          left: 15%;
          position: absolute;
          width: 60%;
        }

        .table_left {
          position: relative;
          display: block;
          float: left;
          background-color: var(--club-dark-grey);
          padding: var(--text-padding);
        }

        .table_right {
          position: relative;
          margin-top: 2vh;
          display: block;
          float: right;
          text-align: right;
          background-color: var(--club-dark-grey);
          padding: var(--text-padding);
        }
      }
    }

    .intro_3 {
      position: relative;
      margin-top: 30vw;
      padding-right: 8vw;
      text-align: right;

      .circle {
        position: absolute;
        top: -150%;
        right: 0;
        width: 35%;
      }

      #circle1 {
        // Intro3 background circle
        width: 15%;
        top: -220%;
        right: 0%;
      }

      .desc {
        position: relative;
        padding: var(--text-padding);
        background-color: var(--club-dark-grey);
      }
    }

    .space {
      padding-bottom: 30vw;
    }
  }

  // Divider background images
  .div_home {
    background-image: linear-gradient(
              rgba(0, 0, 0, 0.5), 
              rgba(0, 0, 0, 0.5)
            ),
            url("../../assets/images/home_events_divider.jpg");
  }

  // Events Content
  .events_content {
    color: white;
    width: 100%;

    .events_description {
      margin-top: 15vw;
      padding-top: 8vw;
      padding-bottom: 18vw;
      font-family: sans-serif;
      font-style: italic;
      text-transform: uppercase;
      font-size: 2vw;
      margin-left: auto;
      margin-right: auto;
      width: 70%;

      border-top: var(--club-yellow) 0.75vw solid;
    }

    .events_display {
      padding-top: 15vw;
      margin-left: auto;
      margin-right: auto;
      width: 80%;

      img {
        transition: 0.3s all;
        width: 100%;
        text-align: center;
        display: inline-block;

        &:hover {
          transform: scale(1.1);
          // cursor: pointer;
        }
      }

      .events_imgs {
        table-layout: auto;
        border-collapse: collapse;
        width: 100%;
      }

      td {
        width: 33%;
        vertical-align: top;
      }

      tr {
        display: inline-block;
        padding: 1vw;
      }
    }

    .events_load {
      transition: 0.3s all;
      float: right;
      margin-right: 1vw;
      margin-top: 5vw;
      margin-bottom: 10vw;
      display: block;

      padding: 1vw;
      border: white 2px solid;

      text-transform: uppercase;
      font-style: italic;
      font-size: 2vw;

      &:hover {
        cursor: pointer;
        background-color: var(--club-dark-grey);
        color: var(--club-yellow);
        border: var(--club-yellow) 2px solid;
      }
    }
  }
}

@media screen 
and (max-width: 1023px) {
  .container {
    $text-padding: 1vw;
      // Intro Content
    .intro_content {
      margin-left: 5vw;
      margin-right: 5vw;
      font-size: 3.5vw;

      .back_circle {
        opacity: 0.5;
      }

      #circle2 {
        // Big Background circle
        display: none;
      }

      #circle3 {
        // Miscellaneous Decoration Circle
        width: 15%;
        bottom: 10%;
        left: 0;
      }

      .intro_1 {
        margin-top: 0;
        padding-top: 10vw;

        p {
          font-size: 4vw;
          padding: $text-padding;
        }
      }

      .intro_2 {
        margin-top: 0;
        padding-top: 20vw;
        padding-bottom: 20vw;

        .table {
          display: flex;
          flex-direction: column;
          width: 100%;

          .circle {
            top: -6vw;
            left: 10%;
            width: 50%;
          }

          .table_left {
            display: inline-block;
            padding: 0;
            margin-right: auto;
          }

          .table_right {
            display: inline-block;
            padding: $text-padding;
            margin-left: auto;

            margin-top: 2vw;
            p { padding: 0; }
          }
        }

        p {
          padding: $text-padding;
        }
      }

      .intro_3 {
        margin-top: 0;
        padding-top: 10vw;
        padding-right: 5vw;

        .circle {
          top: 0;
          right: 0;
          width: 50%;
        }

        #circle1 {
          // Intro3 background circle
          top: -10%;
          right: 0;
        }

        .desc {
          display: flex;
          flex-direction: column;
          background-color: unset;
          align-items: flex-end;

          p {
            display: inline-block;
            margin-left: auto;
            background-color: var(--club-dark-grey);
          }

          p:first-child{
            width: 70%;
            padding-top: $text-padding;
          }

          p:last-child {
            padding-bottom: $text-padding;
          }
        }
      }

      .space {
        padding-bottom: 20vw;
      }
    }

    // Events Content
    .events_content {

      .events_description {
        padding-top: 4vw;
        padding-bottom: 10vw;
        font-size: 2.5vw;
        width: 80%;
      }
    }
  }
}