<div class="container">
  <div class="content">
    <div class="intro_content">
      <img class="back_circle" id="circle1" src="../../assets/circle.png">
      <img class="back_circle" id="circle2" src="../../assets/circle.png">
      <img class="back_circle" id="circle3" src="../../assets/circle.png">
      <div class="intro_1">
        <p>
          We feature musicians from all skill levels 
          and from a variety of different backgrounds.
        </p>
      </div>
      <div class="intro_2">
        <div class="table">
          <img class="circle" src="../../assets/circle.png">
          <div class="table_left">
            <p>
              Play a synth or the violin?
            </p>
          </div>
          <div class="table_right">
            <p>
              You're just as welcome as the
            </p>
            <p>
              saxophones or the rhythm section!
            </p>
          </div>
        </div>
      </div>
      <div class="intro_3">
        <img class="circle" src="../../assets/circle.png">
        <div class="desc">
          <p>
            Our roots are in Jazz but we also like to blend genres,
          </p>
          <p>
            dabble in free improvisation, 
            and see where we can take each jam session.
          </p>
        </div>
      </div>
      <div class="space"></div>
    </div>
    <div class="divider">
      <div class="divider_text">
        events
      </div>
    </div>
  </div>
</div>