<div id="navigation-bar">
  <nav>
    <ul>
      <div class="mobile_icon" @click="displayMenu()">
        <img src="../../assets/images/graphics/icon_menu.png">
      </div>
      <li class="logo">
        <a href="/" id="logo" :class="{ hide : iToggle }">
          <img src="../../assets/club-logo.png" id="menu-icon" alt="Club Logo">
          <span id="menu-icon-text">
            UBC JAZZ CLUB
          </span>
        </a>
      </li>
      <li><a href="/">Home</a></li>
      <li>
          <div class="dropdown">
              <a href="/about">About</a>
              <div class="dropdown-list hide">
                  <a class="option" href="/about">who are we?</a>
                  <a class="option" href="/team">our team</a>
                  <a class="option" href="/involvement">get involved</a>
              </div>
          </div>
      </li>
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/events">Events</a></li>
    </ul>
    <div class="side-menu-wrapper hide">
      <div class="side-menu">
        <img class="close-btn" src="../../assets/images/graphics/icon_menu_close.png" @click="displayMenu()">
        <div class="menu-items-wrapper">
          <div class="menu-item">
            <a href="/">home</a>
          </div>
          <div class="menu-item">
            <a href="/about">about us</a>
            <div class="arrow left" @click="displayDrop()"></div>
          </div>
          <div class="side-dropdown none">
            <div class="menu-item">our team</div>
            <div class="menu-item">get involved</div>
          </div>
          <div class="menu-item">
            <a href="/gallery">gallery</a>
          </div>
          <div class="menu-item">
            <a href="/contact">contact</a>
          </div>
          <div class="menu-item">
            <a href="/events">events</a>
          </div>
        </div>
        <img class="logo" src="../../assets/Jazz_Club_Logo_1.png">
      </div>
    </div>
  </nav>
</div>