/* FONT IMPORTED */

/* Fira Sans */
@import url("https://fonts.googleapis.com/css?family=Trocchi");

/* HEADER */

/* NAVIGATION BAR */

#navigation-bar {
  z-index: 15;
  position: absolute;
  width: 100%;
  top: 0;
}

.hide {
  visibility: hidden;
}

.none {
  display: none;
}

nav {
  overflow: hidden;
  background-color: transparent;
  top: 0;
  width: 100%;
  padding-top: 1rem;

  .mobile_icon {
    display: none;
  }

  ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding-inline-end: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    li {
      vertical-align: middle;
      font-family: "Trocchi", sans-serif;
      padding-left: 1vw;
      padding-right: 1vw;
      font-size: 1.5vw;

      &:first-child {
        padding: unset;
        margin-right: auto;
      }

      &:last-child {
        padding-right: 1vw;
      }

      a {
        color: #FFF;
        text-decoration: none;
        padding: 1vw;
        text-transform: uppercase;
        &:hover {
          transition: 0.2s;
          border-bottom: 3px solid var(--club-yellow);
        }
        box-sizing: content-box;
      }

      a.option {
        display: block;
      }

      a:not(.option) {
        display: inline-block;
      }

      #logo {
        padding: unset;
        padding-top: 1rem;
        
        &:hover {
          color: unset;
          border-bottom: unset;
        }
    
        #menu-icon {
          width: 4vw;
          height: 100%;
          display: inline-block;
          vertical-align: middle;
        }
      
        #menu-icon-text {
          font-size: 3vw;
          letter-spacing: 0.2vw;
          padding: 10px;
          color: var(--club-yellow);
          vertical-align: middle;
          text-align: left;
        }
      }

      &.space {
        width: 5vw;
      }

      .dropdown {
        display: flex;
        justify-content: center;

        & > a:hover {
          border-bottom: 3px solid rgba(255,255,255,0);
        }
  
        .dropdown-list {
          transition: max-height .5s;
          max-height: 20vw;
          top: 95%;
          overflow: hidden;
          position: absolute;
          font-size: 1.25vw;

          border-top: 3px solid var(--club-yellow);

          & > a {
            background-color: rgba(64,64,64,0.7);

            &:hover {
              border-bottom: unset;
              color: var(--club-yellow);
            }
          }
        }
      }
    }
  }
}

.side-menu {
  display: none;
}

// Tablet Portrait
@media screen and (min-width: 768px) and (max-width: 1023px) {

}

// Mobile
@media screen and (max-width: 767px) and (orientation: portrait) {
  .arrow {
    $arrow-size: 1.2vh;
    display: inline-block;
    width: 0;
  
    border-top: $arrow-size solid transparent;
    border-bottom: $arrow-size solid transparent;
    margin-left: 2vh;

    transition: transform 0.5s;
  
    &:hover {
      cursor: pointer;
    }

    &.left {
      border-left: $arrow-size + 0.75vh solid white;

      &:hover {
        border-left: $arrow-size + 0.75vh solid var(--club-yellow);
      }
    }
  }

  nav {
    // Navbar shadow
    // background-color: rgba(0,0,0,0.5);
    padding-top: 0.5em;
    font-size: 12pt;

    position: fixed;
  
    ul {
      padding-left: 2vw;
      justify-content: space-between;

      .mobile_icon {
        width: 12%;
        display: block;
        padding-left: 2vw;
        img {
          width: 100%;
        }
      }

      li {
        width: 50%;
        #logo {
          width: 100%;
          padding-top: 0;

          #menu-icon {
            width: 10vw;
          }

          #menu-icon-text {
            display: inline-block;
            width: 30vw;
            font-size: 3vw;
            letter-spacing: 0.4vw;
            padding: 0;
            padding-left: 2vw;
          }
        }
      }

      .dropdown {
        display:none;
      }

      li:not(.logo) {
        display: none;
      }

      .logo {
        display: inline-block;
        align-self: center;
      }
    }
  }

  .side-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, 0.3);
  }

  .side-menu {
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    width: 70%;
    height: 100%;
    background-color: var(--club-dark-grey);
    transition: transform 1s;
    transform: translateX(-70vw);

    .close-btn {
      position: fixed;

      left: 0;
      top: 0;

      height: 8%;

      padding-top: 2vw;
      padding-left: 2vw;
    }

    .logo {
      position: fixed;
      align-self: flex-end;

      right: 0;

      width: 40%;
      height: auto;

      padding-right: 3vw;
      padding-bottom: 2vw;
    }

    .side-dropdown {
      position: relative;
      z-index: 0;
      transition: all 0.7s;
      transform: translateY(-20vh);

      padding-left: 10%;
    }
  }
}

.menu-items-wrapper {
  position: relative;
  align-self: flex-start;

  height: 100%;
  width: 100%;

  color: white;
  font-family: "Trocchi", sans-serif;

  margin-top: 8vh;
  padding: 3vh 5vh 3vh 5vh;

  .menu-item {
    position: relative;
    z-index: 1;
    text-transform: uppercase;

    transition: all 0.3s;

    background-color: var(--club-dark-grey);

    text-align: left;
    font-size: 3vh;

    padding-top: 5vw;
    padding-bottom: 5vw;

    &.first {
      border-top: var(--club-yellow) solid 2px;
    }

    a {
      text-decoration: none;
      color: white;

      &:hover {
        color: var(--club-yellow);
      }
    }
  }
}