<div id="footer-container">
  <div class="footer-return" @click="scrollToTop">back to the top</div>
  <div class="footer-content">
    <div class="footer-row news">
      <span class="sub-text"> subscribe to our newsletter </span>
      <form
        id="contact-form"
        @submit.prevent="staticSubmit"
        enctype="text/plain"
        target="hidden_iframe"
      >
        <input id="email" name="entry.1374192717" type="text" />
        <input
          id="image"
          type="image"
          name="submit"
          :src="require('../../assets/images/graphics/trumpet_1.png')"
        />
      </form>
      <iframe
        name="hidden_iframe"
        id="hidden_iframe"
        style="display: none"
      ></iframe>
    </div>
    <div class="footer-row info">
      <div class="footer-row item">
        <a href="mailto:president@ubcjazzclub.ca">
          <img src="../../assets/images/graphics/icon_mail.png" />
        </a>
        <p>{{ this.email }}</p>
      </div>
      <div class="footer-row item">
        <a href="https://www.instagram.com/ubcjazzclub/?hl=en">
          <img src="../../assets/images/graphics/icon_inst.png" />
        </a>
        <p>{{ this.lnk_insta }}</p>
      </div>
      <div class="footer-row item">
        <a href="https://www.facebook.com/ubcjazzclub">
          <img src="../../assets/images/graphics/icon_fb.png" />
        </a>
        <p>{{ this.lnk_fb }}</p>
      </div>
      <div class="footer-row item">
        <a href="https://goo.gl/maps/3w3ruTpXCaUUpnzU7">
          <img src="../../assets/images/graphics/icon_loc.png" />
        </a>
        <div class="wrapper-loc">
          <p>{{ this.room }}</p>
          <p>{{ this.address }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">{{ copyright }}</div>
</div>
