/* Trocchi */
@import url("https://fonts.googleapis.com/css?family=Trocchi");

#footer-container {
  position: relative;
  background-color: black;
  color: white;
  padding: 10vh 0 7vh 0;
  font-family: Trocchi;

  .footer-return {
    display: inline-block;
    text-transform: uppercase;
    font-style: italic;
    font-size: 2vw;
    padding: 2rem;
    border-radius: 7px;
    font-family: Built-Tilting;
  }

  .footer-return:hover {
    cursor: pointer;
    color: var(--club-yellow);
    background-color: #111111;
  }

  .footer-content {
    $font-scale: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 5vw 25vw 5vw 25vw;

    margin-left: auto;
    margin-right: auto;

    .footer-row {
      display: inline-block;
      width: 100%;
      
      margin-top: 2vw;
      margin-bottom: 2vw;
    }

    .news {
      display: flex;
      flex-direction: column;
      
      .sub-text {
        display: inline-block;

        margin-bottom: 5vw;

        text-align: left;
        font-size: $font-scale + 1.5vw;
      }
    }

    .info {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      width: 85%;

      .item {
        display: flex;
        align-items: center;

        a {
          display: inline-block;
          width: 15%;
          text-decoration: none;

          img {
            width: 100%;
            display: inline-block;
          }
        }

        p {
          display: inline-block;

          padding-left: 2vw;

          font-family: Arial, Helvetica, sans-serif;
          font-style: italic;
          font-size: $font-scale + 1vw;
          text-transform: uppercase;
        }

        .wrapper-loc {
          display: inline-block;
          width: 80%;
          p {
            width: 100%;
            font-size: $font-scale + 0.5vw;
            text-transform: none;
            text-align: left;
          }
        }
      }
    }

    #contact-form {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 5vh;

      input[type="text"] {
        border-radius: 5px;
        background-color: var(--club-grey);
        padding: 5px;
        color: white;
        width: 80%;
        height: 3vw;
        border-style: inset;

        &:focus {
          outline: none !important;
        }
      }
  
      input[type="image"] {
        position: absolute;
        align-self: center;

        border-radius: 5px;
        height: 4vw;
        right: 4.5vw;
  
        &:focus {
          outline: none !important;
        }
  
        &:active {
          border: solid white 1px;
          margin-left: calc((-8%) - 1px);
          margin-right: -1px;
        }
  
        &:hover {
          cursor: pointer;
          outline: white;
        }
      }
    }
  }

  .footer-copyright {
    text-transform: uppercase;
    font-size: 2vh;
  }
}

@media screen 
and (max-width: 768px)
and (orientation: portrait) {
  #footer-container {
    font-size: 12pt;
    padding: 5vh 0vh 4vh 0vh;
  
    .footer-return {
      font-size: 5vw;
      padding: 3vw;
    }
  
    .footer-content {
      padding-left: 3vw;
      padding-right: 3vw;
      padding-top: calc(min(5vh, 7vw));
      padding-bottom: calc(min(5vh, 7vw));

      #contact-form {
        input[type="text"] {
          height: 6vw;
        }

        input[type="image"] {
          height: 8vw;
          right: 9%;
        }
      }

      .news {
        .sub-text {
          margin-left: 3vw;
          font-size: 4vw;
        }
      }

      .info {
        .item {
  
          a {
            width: 15%;
  
            img {
              width: 100%;
            }
          }
  
          p {
            padding-left: 2vw;
            font-size: 4vw;
          }
  
          .wrapper-loc {
            margin-top: -1vw;
            p {
              font-size: 3vw;
            }
          }
        }
      }
    }
  }
}

// @media screen
// and (max-width: 1024px)
// and (orientation: landscape) {
//   #footer-container {
//     .footer-content {
//       #contact-form {
//         input[type="text"] {
//           height: 6vw;
//         }
//         input[type="image"] {
//           height: 8vw;
//           right: 9%;
//         }
//       }
//     }
//   }
// }