<div id="footer-container">
  <div class="footer_back_top">
    back to the top
  </div>
  <div class="footer_content">
    <div class="footer_left">
      <div class="logo">
        <img src="../../assets/Jazz_Club_Logo_1.png">
      </div>
      <div class="icons">
        <a href="https://www.instagram.com/ubcjazzclub/">
          <img src="../../assets/instagram_icon.svg">
        </a>
        <a href="https://www.facebook.com/ubcjazzclub/">
          <img src="../../assets/facebook_icon.svg">
        </a>
      </div>
    </div>
    <div class="footer_right">
      <p class="footer_h1">
        helpful links
      </p>
      <p class="footer_h2">
        email us
      </p>
      <p class="footer_p">
        jazzclububc@gmail.com
      </p>
      <p class="footer_h2">
        hire us
      </p>
      <p class="footer_p">
        https://forms.gle/K7ShouGvhyyWTbUF9
      </p>
      <p class="footer_h2">
        subscribe to our newsletter
      </p>
      <input type="text">
    </div>
  </div>
  <div class="footer_copyright">
    copyright
  </div>
</div>