<div id="footer-container">
  <div class="footer-return" @click="scrollToTop">
    back to the top
  </div>
  <div class="footer-content">
    <div class="footer-row news">
      <span class="sub-text">
        subscribe to our newsletter
      </span>
      <form id="contact-form" @submit.prevent="staticSubmit" enctype="text/plain" target="hidden_iframe">
        <input id="email" name="entry.1374192717" type="text">
        <input type="submit" value=">">
      </form>
      <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"></iframe>
    </div>
    <div class="footer-row">

    </div>
  </div>
  <div class="footer-copyright">
    {{ copyright }}
  </div>
</div>