<div class="container">
  <div class="links_wrapper">
    <div class="link_container">
      <div class="link" @click="moveTo('.flow')">
        flowchart
      </div>
      <div class="link" @click="moveTo('.member')">
        membership
      </div>
      <div class="link" @click="moveTo('.merch')">
        merch
      </div>
    </div>
  </div>
  <div class="divider flow">
    <div class="divider_text">
      flowchart
    </div>
  </div>
  <div class="member_container">
    <div class="row title">
      Membership is <span class="yellow">$5</span>/year
    </div>
    <div class="row left">
      <div class="col">
        <div class="row item">
          <span class="yellow">
            &#10004;
          </span>
          <h3>
            limited-edition club stickers
          </h3>
        </div>
        <div class="row item">
          <span class="yellow">
            &#10004;
          </span>
          <h3>
            free admission to all social events, end-of-term recitals and more
          </h3>
        </div>
        <div class="row item">
          <span class="yellow">
            &#10004;
          </span>
          <h3>
            our eternal love and gratitude
          </h3>
        </div>
      </div>
    </div>
    <div class="row mem_link">
      <div class="col">
        <a class="m_link" href="https://www.showpass.com/ubcjazzclub2122/">
          <h1 class="inline">
            Link to purchase
          </h1>
        </a>
        <div class="row">
          <p id="mem_notes">
            **You must be a student attending UBC to become a member
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="divider merch">
    <div class="divider_text">
      merch
    </div>
  </div>
  <div class="merch_container">
    <div class="desc">
    </div>
    <div class="title">
      looking for even more ways to support the club? We appreciate it! New merch is coming up soon! Contact us if you're interested in some of our remaining past merch.
    </div>
    <div class="desc">
      <p>
        For $10, you can purchase a club long sleeve shirt. All proceeds
        go towards music equipment and club events.
      </p>
      <p>
        We primarily offer shirts in the beginning of the term, but feel
        free to contact us during the school year if you're interested.
      </p>
    </div>
    <div class="prices">
      <p>
        $10 / shirt
      </p>
      <p>
        sizes: s, m, l - unisex mens
      </p>
      <p>
        black w/ gold
      </p>
    </div>
    <img src="../../assets/images/graphics/merch_shirt_sticker.png">
    <div class="desc_2">
      contact us with your size and name to buy one!
    </div>
    <div class="desc">
      <p>
        Check out the new sticker for the year of 2021!
      </p>
      <img class="sticker" src="../../assets//images/graphics/merch_2021_sticker.png">
    </div>
    <div class="desc">
      Our other stickers!
    </div>
    <div class="past-stickers">
      <img class="sticker-past" src="../../assets/images/graphics/merch_2020_sticker_2.jpg">
      <img class="sticker-past" src="../../assets/images/graphics/merch_2020_sticker.jpg">
      <img class="sticker-past" src="../../assets/images/graphics/merch_2019_sticker_3.png">
      <img class="sticker-past" src="../../assets/images/graphics/merch_2019_sticker_2.png">
      <img class="sticker-past" src="../../assets/images/graphics/merch_2019_sticker.png">
    </div>
  </div>
</div>
