.container {
  // Divider brightness
  $brightness: 0.5;

  position: relative;
  color: white;
  overflow: hidden;
  background-color: var(--club-dark-grey);
  font-family: Built-Tilting;
  font-style: italic;

  // Divs that are meant to fit an entire row
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &.title {
      margin-top: 10vw;
      margin-bottom: 10vw;
      font-size: 4vw;

      span {
        margin-left: 0.5vw;
      }
    }

    &.left {
      text-align: left;
    }

    h1 {
      margin: 3vw;
      font-size: 5vw; 
    }

    h2 {
      margin: 3vw;
      font-size: 4vw;
    }

    h3 {
      margin: 3vw;
      font-size: 2vw;
    }

    p {
      margin: 2vw;
      font-size: 2vw;
    }

    .inline {
      display: inline;
    }
  }

  .col {
    display: flex;
    flex-direction: column;
  }

  // For inline manipulation
  span {
    &.yellow {
      color: var(--club-yellow);
    }
  }

  // Divider background images
  .member {
    background-image: linear-gradient(
            rgba(0, 0, 0, $brightness), 
            rgba(0, 0, 0, $brightness)
          ),
          url("../../assets/images/cozy_christmas/cozy_christmas_11.jpg");
  }

  .flow {
    background-image: linear-gradient(
            rgba(0, 0, 0, $brightness), 
            rgba(0, 0, 0, $brightness)
          ),
          url("../../assets/images/christmas_1.jpg");
  }

  .merch {
    background-image: linear-gradient(
            rgba(0, 0, 0, $brightness), 
            rgba(0, 0, 0, $brightness)
          ),
          url("../../assets/images/gallery_3.jpg");
  }

  // infographic
  .flow_container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vw;
    margin-bottom: 25vw;
    width: 85%;

    & > img {
      width: 100%;
    }

    .desc {
      font-size: 2.5vw;
      margin-bottom: 7vw;
    }
  }

  // members section
  .member_container {
    padding-top: 5vw;
    padding-left: 6vw;
    padding-right: 6vw;

    .item {
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 3vw;
      margin-bottom: 3vw;
  
      span {
        margin-right: -7vw;
        margin-left: 5vw;
        margin-top: -0.5vw;
        width: 15%;
  
        font-size: 2vw;
      }
  
      h3 {
        width: 85%;
        margin: 0;
        font-size: 2vw;
      }
    }

    a {
      &.m_link {
        transition: all 0.4s;
        display: inline-block;
        text-decoration: none;
        color: white;

        &:hover {
          text-decoration: underline;
          color: var(--club-yellow);
        }
      }

      &.g_link {
        transition: text-decoration 0.4s;
        display: inline-block;
        text-decoration: none;
        color: var(--club-yellow);

        &:hover {
          text-decoration: underline;
          color: var(--club-yellow);
        }
      }
    }

    .mem_link {
      margin-top: 10vw;
      margin-bottom: 10vw;

      .m_link {
        h1 {
          font-size: 4.5vw;
          text-decoration: underline;
        }
      }
    }
  }

  // merch section
  .merch_container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vw;
    margin-bottom: 35vw;
    width: 85%;

    a {
      text-decoration: none;
      color: var(--club-yellow);
      &:hover {
        transition: all 0.3s;
        color: white;
        // box-shadow: -10px 10px 4px 2px rgba(0, 0, 0, 0.3);
        text-decoration: underline;
      }
    }

    .title {
      font-size: 4vw;
    }

    .desc {
      margin-top: 10vw;

      font-size: 1.2vw;
      font-family: "Arial";
      font-style: italic;
    }

    .desc_2 {
      margin-top: 10vw;
      font-size: 3.5vw;
    }

    .prices {
      margin-top: 10vw;
      font-size: 3.5vw;
    }

    img {
      margin-top: 10vw;
      width: 50%;
    }

    .sticker {
      margin-top: 1vw;
      transition: all 0.3s;
      width: 30%;

      &:hover {
        width: 40%;
      }
    }

    .past-stickers {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      width: 100%;

      .sticker-past {
        margin-top: 1vw;
        transition: all 0.3s;
        width: 10%;

        &:hover {
          width: 15%;
        }
      }
    }

  }
}

@media screen
and (max-width: 1023px)
and (orientation: portrait) {
  .container {

    // Divider Parallax with text overlay
    .divider {
      &.flow {
        background-size: cover;
        background-repeat: no-repeat;
      }

      &.member {
        background-size: cover;
        background-repeat: no-repeat;
      }
  
      &.merch {
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    // infographic
    .flow_container {
      margin-top: 20vw;
      margin-bottom: 10vw;
  
      .desc {
        font-size: 4.5vw;
        margin-bottom: 4em;
      }
    }

    // members section
  .member_container {
    padding-top: 5vw;
    padding-left: 6vw;
    padding-right: 6vw;

    .row {
      &.title {
        font-size: 7vw;
      }
    }

    .item {
      span {
        margin-left: 4vw;
        margin-right: -5vw;
        width: 15%;
        font-size: 3vw;
      }

      h3 {
        width: 85%;
        font-size: 3vw;
      }
    }

    .mem_link {
      margin-top: 10vw;
      margin-bottom: 10vw;

      .m_link {
        h1 {
          font-size: 6vw;
          text-decoration: underline;
        }
      }

      #mem_notes {
        font-size: 3vw;
      }
    }
  }
  
    // merch section
    .merch_container {
      margin-top: 5vw;
      margin-bottom: 5vw;

      color: #c8c8c8;
  
      .title {
        margin-top: 10vw;
        font-size: 4vw;
      }
  
      .desc {
        margin-top: 5vw;
        font-size: 2.5vw;
        text-align: center;
        p {
          display: inline-block;
          width: 85%;
        }
      }
  
      .prices {
        margin-top: 10vw;
        font-size: 4vw;
      }
  
      img {
        margin-top: 10vw;
        width: 90%;
      }
  
      .desc_2 {
        margin-top: 10vw;
        margin-bottom: 10vw;
        font-size: 4vw;
      }

      .sticker {
        margin-top: 4vw;
        transition: all 0.3s;
        width: 50%;
  
        &:hover {
          width: 90%;
        }
      }

      .past-stickers {
        margin-top: 5vw;
        margin-bottom: 20vw;
        .sticker-past {
          margin-top: 1vw;
          transition: all 0.3s;
          width: 10%;
  
          &:hover {
            width: 50%;
          }
        }
      }
    }
  }
}