<div class="container">
  <div class="links_wrapper">
    <div class="link_container">
      <div class="link" @click="moveTo('.flow')">
        flowchart
      </div>
      <div class="link" @click="moveTo('.merch')">
        merch
      </div>
    </div>
  </div>
  <div class="divider flow">
    <div class="divider_text">
      flowchart
    </div>
  </div>
  <div class="flow_container">
    <div class="desc">
      Unsure of which event to attend? Follow the flowchart!
    </div>
    <img src="../../assets/images/infographic_1.png">
  </div>
  <div class="divider merch">
    <div class="divider_text">
      merch
    </div>
  </div>
  <div class="merch_container">
    <div class="title">
      looking for even more ways to support the club?
      we appreciate it!
    </div>
    <div class="desc">
      <p>
        For $10, you can purchase a club long sleeve shirt. All proceeds
        go towards music equipment and club events.
      </p>
      <p>
        We primarily offer shirts in the beginning of the term, but feel
        free to contact us during the school year if you're interested.
      </p>
    </div>
    <div class="prices">
      <p>
        $10 / shirt
      </p>
      <p>
        sizes: s, m, l - unisex mens
      </p>
      <p>
        black w/ gold
      </p>
    </div>
    <img src="../../assets/jazzshirt.jpg">
    <div class="desc_2">
      contact us with your size and name to buy one!
    </div>
  </div>
</div>