.container {
  position: relative;
  color: white;
  overflow: hidden;
  background-color: var(--club-dark-grey);
  font-family: Built-Tilting;
  font-style: italic;

  // Divider Parallax with text overlay
  .divider {
    position: relative;
    width: 100%;
    height: 40vh;

    .divider_text {
      position: absolute;
      top: 40%;

      width: 100%;

      color: white;
      font-size: 6vw;
    }

    &.member {
      background: linear-gradient(
              rgba(0, 0, 0, 0.7), 
              rgba(0, 0, 0, 0.7)
            ),
            url("../../assets/images/cozy_christmas/cozy_christmas_11.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
    }

    &.flow {
      background: linear-gradient(
              rgba(0, 0, 0, 0.7), 
              rgba(0, 0, 0, 0.7)
            ),
            url("../../assets/images/christmas_1.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
    }

    &.merch {
      background: linear-gradient(
              rgba(0, 0, 0, 0.5), 
              rgba(0, 0, 0, 0.5)
            ),
            url("../../assets/images/gallery_3.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
    }
  }

  // links at the top of the page
  .links_wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    padding-top: 3vw;
    padding-bottom: 3vw;

    background-color: black;

    .link_container {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      width: 50%;

      display: flex;
      justify-content: center;

      .link {
        transition: all 0.2s;
        font-size: 3.5vw;
        display: table-cell;
        margin-left: auto;
        margin-right: auto;

        &:hover {
          cursor: pointer;
          // make sure whole div doesn't move
          margin-top: -3px;
          border-bottom: solid 3px white;
        }
      }
    }
  }

  // infographic
  .flow_container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vw;
    margin-bottom: 25vw;
    width: 85%;

    & > img {
      width: 100%;
    }

    .desc {
      font-size: 2.5vw;
      margin-bottom: 7vw;
    }
  }

  // merch section
  .merch_container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vw;
    margin-bottom: 35vw;
    width: 85%;

    a {
      text-decoration: none;
      color: var(--club-yellow);
      &:hover {
        transition: all 0.3s;
        color: white;
        // box-shadow: -10px 10px 4px 2px rgba(0, 0, 0, 0.3);
        text-decoration: underline;
      }
    }

    .title {
      font-size: 4vw;
    }

    .desc {
      margin-top: 10vw;

      font-size: 1.2vw;
      font-family: "Arial";
      font-style: italic;
    }

    .prices {
      margin-top: 10vw;
      font-size: 3.5vw;
    }

    img {
      margin-top: 10vw;
      width: 50%;
    }

    .desc_2 {
      margin-top: 10vw;
      font-size: 3.5vw;
    }

  }
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .container {
    font-size: 12pt;
  
    // Divider Parallax with text overlay
    .divider {
      height: 15em;

      .divider_text {
        top: 32%;
        font-size: 4em;
      }
  
      &.flow {
        background-size: cover;
        background-repeat: no-repeat;
      }
  
      &.merch {
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  
    // links at the top of the page
    .links_wrapper {
      padding-top: 2em;
      padding-bottom: 2em;
  
      .link_container {
        .link {
          font-size: 3em;
        }
      }
    }
  
    // infographic
    .flow_container {
      margin-top: 11em;
      margin-bottom: 15em;
  
      .desc {
        font-size: 3em;
        margin-bottom: 4em;
      }
    }
  
    // merch section
    .merch_container {
      margin-top: 5em;
      margin-bottom: 5em;
  
      .title {
        margin-top: 3em;
        font-size: 3em;
      }
  
      .desc {
        margin-top: 5em;
        font-size: 1.5em;
      }
  
      .prices {
        margin-top: 3em;
        font-size: 3em;
      }
  
      img {
        margin-top: 5em;
        width: 90%;
      }
  
      .desc_2 {
        margin-top: 3em;
        margin-bottom: 3em;
        font-size: 3em;
      }
  
    }
  }
}